// # SHORT HOWTO
// ## Sprites
//     .whatever
//      +s(codedby) 
// ## gradient example
//      +g(#232323, #5c5c5c);
//     horizontal
//      +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//      @extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//      display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//      width: 2em * $i;
//     @each $s in a,b,c
//        #{$s}
//        display: none
// ## fonts
// Save fonts to /sr/fontss
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
//  font-family: "book", Arial, sans-serif

body
  font-family: Arial, sans-serif
  font-size: 12px
  line-height: 1.4

@font-face
  font-family: "SamsungOne"
  src: url('fonts/samsungsharpsans-medium_v2.eot')
  src: url('fonts/samsungsharpsans-medium_v2.eot?#iefix') format("embedded-opentype"), url('fonts/samsungsharpsans-medium_v2.woff') format("woff"), url('fonts/samsungsharpsans-medium_v2.svg#SamsungSharpSans-Medium') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "SamsungOne"
  src: url("fonts/samsungonecyrillic-400.woff2") format("woff2"), url("fonts/samsungonecyrillic-400.woff") format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: "SamsungOne"
  src: url("fonts/samsungonecyrillic-700.woff2") format("woff2"), url("fonts/samsungonecyrillic-700.woff") format("woff")
  font-weight: bold
  font-style: normal



legend, caption, hr
  display: none

body
  font-family: "SamsungOne", sans-serif
  color: #000
  background-color: #fff
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none
  -moz-osx-font-smoothing: grayscale
  margin: 0
  padding: 0

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, iframe, th, td
  margin: 0
  padding: 0

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary
  display: block
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6, dt
  font-weight: normal

img, fieldset, iframe, button
  border: 0 none

li
  list-style: none

button
  border: 0 none

table
  border-collapse: collapse
  border-spacing: 0

th, td
  border-collapse: collapse

legend, caption, hr
  display: none

select, input, textarea,
i, em, u, cite
  font-style: normal

/*strong{font-weight:normal;}

figcaption
  text-indent: -9999em
  font-size: 0

img,
a
  color: #4b4c4c
  text-decoration: none
  outline-offset: -1px

.chrome a, .safari a
  outline-offset: -3px

body
  -webkit-font-smoothing: antialiased

section[class*="m_content-"]
  max-width: 1440px
  margin: 0 auto
  position: relative
  overflow: hidden
  z-index: 1

.s2 section[class*="m_content-"]
  max-width: 1024px

.s1 section[class*="m_content-"]
  max-width: 720px
  min-width: 320px

section
  &[class*="m_content-"] article
    height: inherit
  &.m_content-slider
    button
      &[class*="c_btn_type1-"]
        position: absolute
        top: 50%
        margin-top: -44px
        z-index: 2
        cursor: pointer
      &.c_btn_type1-prev
        left: 10px
      &.c_btn_type1-next
        right: 10px
    div[class*="c_paging-"]
      position: absolute
      left: 0
      right: 0
      bottom: 10px
      text-align: center
      z-index: 5
    .slider_paging-type1 a
      display: inline-block
      margin-right: -3px
      padding: 10px
      line-height: 30px
      background-color: #000
      color: #fff
      font-size: 17px
      opacity: .5
      overflow: hidden
      vertical-align: middle
    a
      &[class^="m_btn_type"]
        position: absolute
        top: 50%
        margin-top: -60px
        z-index: 2
        cursor: pointer
      &[class*="-prev"]
        left: 10px
      &[class*="-next"]
        right: 10px

.s12 section.m_content-slider a[class*="-prev"], section.m_content-slider a[class*="-prev"].small, .s12 section.m_content-slider a[class*="-next"]
  margin-top: -44px

section.m_content-slider
  a[class*="-next"].small
    margin-top: -44px
  [class^="m_paging_type"]
    position: absolute
    left: 0
    right: 0
    bottom: 16px
    text-align: center
    z-index: 5

.s12 section.m_content-slider [class^="m_paging_type"]
  bottom: 14px

section
  &.m_content-slider
    [class^="m_paging_type"].small
      bottom: 14px
    >
      article, section
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background-color: #fff
  &.m_content-tab
    position: relative
    z-index: 3
    >
      nav
        position: absolute
        color: #000
        z-index: 2
        li
          display: inline-block
          vertical-align: top
          margin-right: -3px
          a
            display: block
            font-size: 15px
      article
        position: absolute
        left: 100%
        top: 0
        width: 100%
        height: 100%
        &.on
          left: 0

.s34 section.m_content-tab > nav
  left: 80px
  bottom: 60px
  color: #000
  bottom: 80px
  &[class*="_pos-r"]
    left: auto
    right: 80px

.s12 section.m_content-tab > nav
  left: 0
  right: 0
  text-align: center
  > ul
    display: inline-block
  bottom: 54px

.xlider-wrapper
  height: 100%

section
  &.m_content-slider
    section[class^="m_content-"], article[class^="m_feature-"]
      height: 100%
  &.m_content-tab
    article[class^="m_feature-"]
      height: 100%
    overflow: hidden

figure[data-media-video]
  img
    position: relative
    left: 0
    top: 0
    width: 100%
    height: 100%
  video
    visibility: visible
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%

.s1 figure[data-media-video] video
  visibility: hidden

.s2
  &.mobile figure[data-media-video] video
    visibility: hidden
  figure[data-media-video] video, &.mobile figure[data-media-video] img
    visibility: visible !important

.s1 figure[data-media-video] img
  visibility: visible !important

.s2 figure[data-media-video] img
  visibility: hidden !important

[class*="f_header-"]
  position: absolute
  z-index: 2

.f_header-type1
  width: 100%
  .tit
    font-size: 76px
    font-family: "SamsungOne"
    font-weight: bold
    line-height: 88px
    text-align: center
  .desc
    font-size: 18px
    font-family: "SamsungOne"
    line-height: 32px
    text-align: center
  .small
    font-size: 14px
    text-align: center
  .see-more-btn
    display: inline-block
    padding-right: 24px
    background: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61216265?$Download-Source$&fmt=png-alpha') no-repeat right top
    font-family: "SamsungOne"
    font-weight: bold
    font-size: 18px
    color: #000

.f_container
  position: absolute
  left: 0
  top: 0
  z-index: 1
  width: 100%
  height: 100%
  overflow: hidden
  > figure
    position: absolute
    height: 100%
    left: 50%
    width: 1440px
    margin-left: -720px
    img
      display: block
      margin: 0 auto
      -height: 100%

.load
  .f_container > figure img
    transition: all 0.96s cubic-bezier(0.215, 0.61, 0.355, 1)
    -webkit-transition: all 0.96s cubic-bezier(0.215, 0.61, 0.355, 1)
    -moz-transition: all 0.96s cubic-bezier(0.215, 0.61, 0.355, 1)
    -o-transition: all 0.96s cubic-bezier(0.215, 0.61, 0.355, 1)
  &.safari .f_container > figure img
    transition: none
    -webkit-transition: none
  .f_container > figure.ani_img img
    transition: all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1)
    -webkit-transition: all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1)
    -moz-transition: all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1)
    -o-transition: all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1)

.s4.s3
  .f_container > figure img
    width: 1440px
  .m_content_sub .f_container > figure img
    width: 720px

.s2 .f_header-type1 .tit
  font-size: 68px
  line-height: 80px

html.s2 .f_header-type1 .desc
  font-size: 18px
  line-height: 26px
  width: auto
  max-width: 768px

.s2
  .f_header-type1 .see-more-btn
    padding-right: 18px
    font-size: 16px
    background-size: auto 16px
  .f_container > figure
    width: 1346px
    margin-left: -673px

.s1 .f_header-type1 .tit
  font-size: 43px
  line-height: 51px

html.s1 .f_header-type1 .desc
  max-width: 330px
  padding: 0 16px
  margin: 12px auto 0
  font-size: 14px
  line-height: 24px

.s1
  .f_header-type1
    .small
      font-size: 12px
    .see-more-btn
      font-size: 16px
  .f_container > figure
    position: static
    left: auto
    width: 100%
    height: auto
    margin-left: 0
    img
      width: 100%

.slide_etc
  .slide_arrow
    position: absolute
    display: block
    width: 100%
    height: 32px
    a
      display: inline-block
      position: absolute
      top: 0
      z-index: 100
      font-size: 0
      line-height: 0
      width: 18px
      height: 32px
      vertical-align: middle
      border-radius: 2px
      background: rgba(255, 255, 255, 0.1)
      box-sizing: border-box
      cursor: pointer
      &:before
        position: absolute
        top: 50%
        left: 50%
        display: block
        width: 18px
        height: 32px
        margin: -16px 0 0 -9px
        content: ''
        opacity: 0.54
        filter: alpha(opacity = 54)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)"
        transition: opacity 0.5s
        -webkit-transition: opacity 0.5s
      &.slide-prev
        left: 25px
      &.slide-next
        right: 25px
      &.slide-prev:before
        background: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61216272?$Download-Source$&fmt=png-alpha') no-repeat
      &.slide-next:before
        background: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61216278?$Download-Source$&fmt=png-alpha&fmt=png-alpha') no-repeat
      &:hover:before, &:focus:before
        opacity: 1
        filter: alpha(opacity = 100)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  .slide_page
    display: block
    width: 100%
    text-align: center
    a
      display: inline-block
      position: relative
      width: 11px
      height: 11px
      margin: 0 7px
      border-radius: 50%
      background-color: #fff
      border: 1px solid #757575
      vertical-align: middle
      span
        display: block
        text-indent: -999em
        font-size: 0
      &.on
        border-color: #000
        background-color: #000

.s2 .slide_etc .slide_arrow a
  &.slide-prev
    left: 25px
  &.slide-next
    right: 25px

.s1 .slide-list-box .slide_etc .slide_page a
  background-color: #000
  border-color: #757575
  &.on
    background-color: #fff
    border-color: #fff

.m_content-design
  height: 1598px
  article
    position: relative
    left: 50%
    width: 1440px
    margin-left: -720px
  .design-simply-img
    display: none
  .simply
    right: 260px
    top: 113px
    width: 440px
    text-align: right
    .tit
      text-align: right
    .desc
      text-align: right
      margin-top: 23px
  .uniform .desc
    margin-top: 23px
  .simply span
    display: inline-block
    width: 100px
    margin-top: 40px
    font-family: "SamsungOne"
    font-weight: bold
    font-size: 18px
    img
      display: block
      margin-bottom: 17px
  .uniform
    left: 260px
    bottom: 110px
    width: 540px
    .tit, .desc
      text-align: left
  .zero
    display: none
  .f_container figure
    left: auto
    margin-left: 0
  .design-uniform-img figure
    top: 300px
    left: 50%
    width: auto
    height: auto
    margin-left: -480px
    &.mobile_zero_camera
      display: none

.ie .m_content-design .design-uniform-img figure
  overflow: hidden
  video
    top: -1px

.s2 .m_content-design
  height: 1425px
  article
    width: 1346px
    margin-left: -673px
  .simply
    top: 72px
    right: 319px
    width: 365px
    span img
      margin-bottom: 21px
  .uniform
    left: 319px
    bottom: 70px
    width: 493px
  .design-uniform-img figure
    top: 355px
    width: 768px
    margin-left: -384px

.s1 .m_content-design
  height: auto
  padding-bottom: 52px
  article
    left: auto
    height: auto
    width: 100%
    margin-left: 0
  .f_container, .f_header-type1
    position: relative
  .simply
    .tit, .desc
      text-align: center
  .uniform
    .tit, .desc
      text-align: center
  .simply, .uniform
    left: auto
    right: auto
    top: auto
    bottom: auto
    width: 100%
    text-align: center
    margin: 23px 0 53px
  .design-simply-img
    display: block
    margin-bottom: 39px
  .simply span
    display: none
  .uniform
    margin: 20px 0 43px
  .design-uniform-img figure
    top: auto
    left: auto
    margin-left: 0
    &.design_in_video
      display: none
    &.mobile_zero_camera
      display: block

.m_content-color
  height: 930px
  background: #000
  .f_header-type1
    position: relative
    padding-top: 80px
    .tit, .desc, .small
      color: #fff
    .desc
      margin: 20px 0 47px
  .f_container
    position: relative
    margin-top: 89px
  .color-list
    margin: 0 auto
    width: 100%
    text-align: center
    li
      display: inline-block
      width: 189px
      margin-left: 74px
      text-align: center
      a
        display: block
      span
        text-indent: -999em
        width: 0
        height: 0
        font-size: 0
      strong
        display: inline-block
        width: 100%
        padding-top: 423px
        font-family: "SamsungOne"
        font-weight: bold
        font-size: 18px
        color: #fff
        background: no-repeat left top
        background-size: contain
      &.black
        strong
          background-image: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61219241?$Download-Source$&fmt=png-alpha')
        &:hover strong, &:focus strong
          background-image: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61219242?$Download-Source$&fmt=png-alpha')
      &.gold
        strong
          background-image: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61219297?$Download-Source$&fmt=png-alpha')
        &:hover strong, &:focus strong
          background-image: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61219244?$Download-Source$&fmt=png-alpha')
      &.peach
        strong
          background-image: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61219245?$Download-Source$&fmt=png-alpha')
        &:hover strong, &:focus strong
          background-image: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61219248?$Download-Source$&fmt=png-alpha')
      &.blue
        strong
          background-image: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61219250?$Download-Source$&fmt=png-alpha')
        &:hover strong, &:focus strong
          background-image: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61219252?$Download-Source$&fmt=png-alpha')

.s2 .m_content-color
  height: 776px
  .f_header-type1
    padding-top: 63px
    .desc
      margin: 25px auto 45px
  .f_container
    margin-top: 78px
  .color-list
    width: 716px
    li
      width: 137px
      margin-left: 56px
      &:first-child
        margin-left: 0
      strong
        padding-top: 315px

.s1 .m_content-color
  height: auto
  .f_header-type1
    padding-top: 23px
    .tit
      width: 248px
      margin: 0 auto
    .desc
      margin: 12px auto 27px
      br
        display: none
  .f_container
    margin-top: 49px
  .color-list
    padding-bottom: 88px
    li
      width: 172px
      margin: 0 14px
      strong
        background-size: 100%
        height: 0
        padding-top: 360px
        font-size: 14px
        opacity: 0.5
        filter: alpha(opacity = 50)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
        transition: opacity 0.5s
      &.show strong
        opacity: 1
        filter: alpha(opacity = 100)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
        transition: opacity 0.5s
      &.black strong
        background-image: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61216221?$Download-Source$&fmt=png-alpha')
      &.gold strong
        background-image: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61216228?$Download-Source$&fmt=png-alpha')
      &.peach strong
        background-image: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61216230?$Download-Source$&fmt=png-alpha')
      &.blue strong
        background-image: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61216237?$Download-Source$&fmt=png-alpha')
  .slider
    width: 9999px
  .slide_etc
    position: absolute
    bottom: 35px
    z-index: 10
    width: 100%

.m_content-capture-richer
  height: 855px
  background: #000
  .f_header-type1
    padding-top: 96px
    .tit
      color: #fff
    .desc
      color: #fff
      margin-top: 25px

.s2 .m_content-capture-richer
  height: auto
  .f_header-type1
    position: relative
    padding-top: 48px
    .desc
      width: auto
      max-width: 760px
      margin: 30px auto 0
  .f_container
    position: relative
    padding-top: 67px
    figure
      position: relative

.s1 .m_content-capture-richer
  height: auto
  .f_header-type1, .f_container
    position: relative
  .f_header-type1
    padding: 50px 0 70px
    .tit
      width: 290px
      margin: 0 auto
    .desc
      width: 296px
      br
        display: none

.m_content-filter
  height: auto
  .f_header-type1
    position: relative
    width: 900px
    padding: 77px 0 50px
    margin: 0 auto

.s34 .m_content-filter .f_header-type1 .tit br
  display: none

.m_content-filter
  .f_header-type1 .desc
    margin: 23px auto 40px
  .f_container
    position: relative
    .filter-mode
      width: 100%
      margin-bottom: 64px
      text-align: center
      li
        display: inline-block
        position: relative
        padding: 0 27px
        &:first-child:after
          display: block
          position: absolute
          right: -3px
          top: 4px
          content: ''
          width: 2px
          height: 10px
          background: #afafaf
      a
        display: inline-block
        font-size: 18px
        font-family: "SamsungOne"
        font-weight: bold
        color: #757575
        &.current
          position: relative
          color: #000
          &:after
            position: absolute
            top: 22px
            content: ''
            display: block
            width: 100%
            height: 4px
            background: #000
  .filter-slide
    display: none
    position: relative
    padding-bottom: 54px
    &.view
      display: block

.filter-slide
  .slide_etc .slide_arrow
    top: 50%
    margin-top: -28px
  .filter-slide-box
    position: relative
    width: 100%
    margin: 0 auto
    strong
      display: none
    .img-list
      width: auto
      height: auto
      margin: 0 83px
      li
        width: 100%
      figure
        width: 100%
        height: auto
        img
          width: 100%
          height: auto
  .basic-filter-scroll
    overflow: hidden
    max-width: 1024px
    height: 130px
    margin: 0 auto
  .thumb-nav
    overflow: hidden
    overflow-x: auto
    -webkit-overflow-scrolling: touch
    position: relative
    max-width: 1024px
    padding-bottom: 30px
    a
      position: relative
      float: left
      width: 158px
      height: auto
      margin-left: 16px
      background: none
      border: 0
      text-align: center
      img
        opacity: 0.4
        filter: alpha(opacity = 40)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"
        transition: opacity 0.4
      &.on img
        opacity: 1
        filter: alpha(opacity = 100)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
        transition: opacity 0.4
      &:first-child
        margin-left: 0
      img
        display: inline-block
        width: 100%
        margin-bottom: 13px
      strong
        font-size: 18px
        font-family: "SamsungOne"
  .controls
    position: relative
    max-width: 1024px
    height: 8px
    padding-top: 7px
    margin: 50px auto 40px
    .num
      position: absolute
      top: -5px
      font-size: 20px
    .bar
      position: relative
      width: 937px
      height: 1px
      margin-left: 87px
      background: #bebebe
    .anchor
      position: absolute
      top: -8px
      width: 200px
      height: 16px
      background: #000
      border: 0
      border-radius: 9px
      text-indent: -999em
      &:after, &:before
        content: ''
        display: block
        position: absolute
        top: 4px
        width: 4px
        height: 7px
      &:after
        left: 10px
        background: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61216243?$Download-Source$&fmt=png-alpha') no-repeat left top
      &:before
        right: 10px
        background: url('http://images.samsung.com/is/image/samsung/ua-feature-samsung-galaxy-a7-2017-a720f-61216255?$Download-Source$&fmt=png-alpha') no-repeat left top
  .dummy
    display: block
    position: absolute
    top: 0
    left: 50%
    z-index: -1
    width: 100%
    padding: 0 83px
    box-sizing: border-box
    transform: translateX(-50%)
    -webkit-transform: translateX(-50%)
    -ms-transform: translateX(-50%)
    visibility: hidden
    img
      display: block
      width: 100%

.m_content-filter .food-mode
  display: none
  position: relative
  padding-bottom: 83px
  &.view
    display: block
  .food-mode-img
    position: relative
    width: auto
    height: auto
    margin: 0 83px
    figure
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      opacity: 0
      filter: alpha(opacity = 0)
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
      transition: opacity 1.2s
      &.show
        position: relative
        opacity: 1
        filter: alpha(opacity = 100)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
        transition: opacity 0.6s
  .btn-area
    position: absolute
    width: 100%
    bottom: 123px
    text-align: center
  button
    display: inline-block
    width: 72px
    height: 72px
    margin: 0 15px
    border: 2px solid #000
    border-radius: 50%
    background: #000
    color: #999
    font-family: "SamsungOne"
    font-weight: bold
    font-size: 18px
    text-align: center
    cursor: pointer
  .food-mode-img figure img
    display: block
    width: 100%
    height: auto
  button.on
    color: #fff
    border-color: #fff

.s2
  .m_content-filter
    height: auto
    .f_header-type1
      width: auto
      padding: 65px 0 38px
      .desc
        max-width: 655px
        margin: 25px auto 44px
  .filter-slide
    padding-bottom: 62px
    .filter-slide-box
      figure
        width: 100%
        img
          width: 100%
      .img-list
        margin: 0 80px
    .basic-filter-scroll
      width: auto
      padding: 0 80px
    .thumb-nav
      width: 100%
      margin: 0 auto
    .controls
      width: auto
      margin: 40px 80px
      .bar
        width: auto
        max-width: 100%
    .dummy
      padding: 0 80px
  .m_content-filter .food-mode
    padding-bottom: 60px
    .food-mode-img
      margin: 0 80px
  .food-mode .anchor
    width: 107px
    height: 107px
    img
      width: 88px
      height: 88px

.s1
  .m_content-filter
    height: auto
    .f_header-type1
      width: auto
      padding: 22px 0 40px
      .desc
        margin: 13px auto 25px
        br
          display: none
    .f_container
      height: auto
      .filter-mode
        margin-bottom: 33px
        li
          padding: 0 14px
          &:first-child:after
            top: 5px
            right: -2px
        a
          font-size: 14px
          &.current:after
            top: 17px
            height: 2px
    .filter-slide
      height: auto
      padding-bottom: 29px
  .filter-slide
    .slide_etc .slide_arrow
      display: none
    .filter-slide-box
      left: auto
      width: 100%
      max-width: 100%
      margin-left: 0
      transform: none
      -webkit-transform: none
      -ms-transform: none
      figure
        width: 100%
        img
          width: 100%
      strong
        display: block
        margin-top: 10px
        font-size: 14px
        font-family: "SamsungOne"
        font-weight: bold
        text-align: center
      .img-list
        width: 100%
        height: auto
        margin-left: 0
    .basic-filter-scroll
      height: 106px
      max-width: 100%
    .thumb-nav
      left: auto
      width: 100%
      height: 106px
      padding-bottom: 10px
      margin-top: 20px
      a
        width: 95px
        height: 54px
        margin-left: 9px
        &:first-child
          margin-left: 0
        img
          margin-bottom: 2px
        strong
          font-size: 14px
    .controls
      display: none
    .dummy
      left: auto
      width: 100%
      max-width: 100%
      padding: 0
      transform: none
      -webkit-transform: none
      -ms-transform: none
  .m_content-filter .food-mode
    width: auto
    height: auto
    padding-bottom: 0
    .food-mode-img
      left: auto
      width: 100%
      margin-left: 0
    figure
      &.show
        position: relative
      img
        display: block
        height: auto
        width: 100%
    .btn-area
      bottom: 25px
      height: 45px
    button
      left: 50%
      bottom: 25px
      width: 45px
      height: 45px
      margin: 0 8px
      font-size: 12px

.m_content-capture
  article
    position: relative
  .capture-img
    height: 1136px
    background: #000
    .f_header-type1
      margin-top: 80px
      .desc, .tit
        color: #fff
      .desc
        width: 830px
        margin: 23px auto 0
      .small
        margin-top: 35px
        color: #fff
        text-align: center
    .btn-area
      overflow: hidden
      display: block
      position: absolute
      z-index: 10
      left: 50%
      bottom: 70px
      margin-left: -139px
      button
        background: none
        padding: 0
        margin: 0 35px
        cursor: pointer
      span, button
        float: left
      span
        margin-top: 10px
  .capture-slide
    height: auto
    .f_header-type1, .f_container
      position: relative
    .f_header-type1 .desc
      width: 1032px
      padding: 80px 0 74px
      margin: 0 auto
      font-size: 32px
      font-family: "SamsungOne"
      font-weight: bold
      line-height: 48px

.s34 .m_content-capture .capture-slide .f_header-type1 .desc br
  display: none

.m_content-capture .capture-slide
  .f_container
    height: auto
    width: 100%
  .slide_etc .slide_arrow
    top: 50%
    left: 0
    margin-top: -115px
  .slide_page
    display: none
    position: absolute
    bottom: 210px
    z-index: 20
  .gallery-slide
    width: auto
    margin: 0 83px
  .slide-list
    width: 100%
    li
      overflow: hidden
      figure
        display: block
        width: 100%
        img
          display: block
          width: 100%
    .info
      position: absolute
      bottom: 27px
      right: 40px
      color: #fff
      font-family: "SamsungOne"
      font-weight: bold
      font-size: 18px
  .gallery-scroll
    overflow: hidden
    position: relative
    width: 100%
    height: 90px
    margin: 40px 0
  .thumbnail
    overflow: hidden
    position: absolute
    left: 50%
    width: 1023px
    margin-left: -512px
  .img-pagenation
    width: 100%
    a
      display: inline-block
    span
      display: inline-block
      width: 100%
      height: auto
    img
      width: 100%
      height: auto
    a
      width: 158px
      height: auto
      margin-left: 15px
      &:first-child
        margin-left: 0 !important
      span
        opacity: 0.4
        filter: alpha(opacity = 40)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"
      &:hover span, &.on span
        opacity: 1
        filter: alpha(opacity = 100)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    img
      display: block

.s2 .m_content-capture
  .capture-img
    height: 1113px
    .f_header-type1
      margin-top: 81px
      .desc
        width: auto
        max-width: 780px
        margin: 24px auto 0
  .capture-slide
    .f_header-type1 .desc
      width: auto
      max-width: 768px
      padding: 67px 20px 60px
      font-size: 28px
      line-height: 40px
      br
        display: none
    height: auto
    .slide_etc .slide_arrow
      margin-top: -95px
    .gallery-slide
      margin: 0 80px
    .gallery-scroll
      height: 68px
      margin: 32px 0
    .thumbnail
      overflow: hidden
      overflow-x: auto
      -webkit-overflow-scrolling: touch
      position: absolute
      left: 50%
      width: 792px
      height: 68px
      padding-bottom: 10px
      margin-left: -396px
    .img-pagenation
      width: 792px
      padding: 0 14px
      box-sizing: border-box
      a
        width: 120px
        height: 68px
        margin-left: 8px

.s1 .m_content-capture
  .capture-img
    height: auto
    .f_header-type1
      position: relative
      margin-top: 0
      padding-top: 22px
      .desc
        width: auto
        max-width: 335px
        margin: 11px auto 9px
        padding: 0 13px
    .f_container
      position: relative
    figure
      width: 100%
      height: auto
      img
        width: 100%
        height: auto
    .btn-area
      bottom: 24px
      margin-left: -94px
      button
        width: 54px
        height: 54px
        margin: 0 27px
      span
        width: 38px
        height: 38px
        margin-top: 8px
      img
        width: 100%
  .capture-slide
    height: auto

html.s1 .m_content-capture .capture-slide .f_header-type1 .desc
  width: auto
  padding: 25px 12px
  font-size: 16px
  line-height: 26px

.s1 .m_content-capture .capture-slide
  .f_container
    height: auto
  .slide_arrow
    display: none
  .gallery-slide
    margin: 0
  .gallery-scroll
    height: 55px
    margin: 20px 0
  .thumbnail
    overflow: hidden
    overflow-x: auto
    -webkit-overflow-scrolling: touch
    position: absolute
    left: 0
    width: 100%
    height: 55px
    padding-bottom: 10px
    margin-left: 0
  .img-pagenation
    width: 610px
    padding: 0
    box-sizing: border-box
    margin-left: 0
    white-space: nowrap
    a
      width: 95px
      height: 54px
      margin-left: 8px
      &:hover span
        opacity: 0.5
        filter: alpha(opacity = 50)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
      &.on span
        opacity: 1
        filter: alpha(opacity = 100)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  .slide-list .info
    bottom: 10px
    right: 16px
    font-size: 8px

.m_content-ip68
  height: 1415px
  background: #000
  article
    position: relative
    left: 50%
    width: 1440px
    margin-left: -720px
  .f_header-type1
    top: 90px
    left: 710px
    width: 500px
    text-align: right
    .tit, .desc
      color: #fff
    .tit
      display: inline-block
      font-size: 74px
      text-align: right
    .desc
      display: inline-block
      width: 430px
      margin-top: 24px
      text-align: right
  .f_container
    figure
      left: 0
      width: 100%
      margin-left: 0
    .ip68-txt
      position: absolute
      top: auto
      bottom: 100px
      left: 245px
      z-index: 10
      strong, p
        color: #fff
      strong
        display: block
        font-size: 190px
        font-family: "SamsungOne"
        font-weight: bold
      p
        font-size: 14px
        margin-top: -30px
        font-family: "SamsungOne"

.s2 .m_content-ip68
  height: 1323px
  article
    width: 1346px
    margin-left: -673px
  .f_header-type1
    top: 64px
    left: 584px
    width: 447px
    .tit
      width: 450px
      font-size: 68px
    .desc
      width: 410px
  .f_container .ip68-txt
    left: 309px
    bottom: 72px
    strong
      font-size: 177px

.s1 .m_content-ip68
  height: 840px
  article
    height: 840px
    left: auto
    width: 100%
    margin-left: 0
  .f_header-type1
    position: relative
    top: auto
    left: auto
    width: 100%
    padding: 25px 0 45px
    text-align: center
    .tit
      display: block
      width: 320px
      margin: 0 auto
      text-align: center
      font-size: 43px
    .desc
      width: auto
      padding: 0 16px
      margin-top: 10px
      text-align: center
  .f_container
    figure
      width: auto
      height: 100%
      img
        width: auto
        height: 100%
      position: absolute
      left: 50%
      width: 1534px
      margin-left: -767px
    .ip68-txt
      bottom: 39px
      left: 50%
      top: auto
      width: 310px
      margin-left: -155px
      strong
        font-size: 70px
      p
        margin-top: -4px
        font-size: 12px

.m_content-powered
  height: 771px
  article
    position: relative
  .f_header-type1
    padding-top: 80px
    .desc
      margin-top: 25px
  .f_container
    top: 478px
    height: auto
    figure
      position: static
      left: auto
      width: 100%
      height: auto
      margin-left: 0

.s2 .m_content-powered
  height: 681px
  .f_header-type1
    padding-top: 66px
    .desc
      margin: 23px auto 0
      br
        display: none
  .f_container
    top: 418px
    figure
      width: 732px
      margin: 0 auto
      img
        width: 100%

.s1 .m_content-powered
  height: auto
  article
    height: auto
  .f_header-type1, .f_container
    position: relative
    height: auto
  .f_header-type1
    padding-top: 22px
    .desc
      width: auto
      padding: 0 16px
      margin-top: 13px
      br
        display: none
  .f_container
    top: auto
    padding: 95px 0 34px
    figure
      position: static
      left: auto
      width: 100%
      margin-left: 0
      padding: 0 16px
      box-sizing: border-box

.m_content-usim
  height: 916px
  .f_header-type1
    padding-top: 60px
    .desc
      width: 900px
      margin: 16px auto 38px
  .f_container
    top: auto
    bottom: 0
    height: 757px
    figure
      width: 1444px
      margin-left: -722px
      height: auto
      video
        height: auto

.ie .m_content-usim .f_container figure
  overflow: hidden
  bottom: 0
  height: 725px
  video
    margin-top: -1px

.s2 .m_content-usim
  height: 819px
  .f_container
    height: 616px
  .f_header-type1
    padding-top: 0
    .desc
      margin: 25px auto 45px
  .f_container figure
    width: 1024px
    height: auto
    margin-left: -512px

.s1 .m_content-usim
  height: auto
  .f_header-type1, .f_container
    position: relative
    height: auto
  .f_header-type1
    padding-top: 67px
    margin-bottom: 65px
    .desc
      width: auto
      padding: 0 16px
      margin: 11px auto 25px
  .f_container figure
    position: static
    left: auto
    width: 100%
    margin-left: 0

.m_content-instant
  background: #000
  .f_header-type1
    .tit
      color: #fff
    .desc
      color: #fff
      width: 768px
      margin: 16px auto 0
    position: relative
    margin-top: 80px
  .f_container
    position: relative
    height: 606px
    ul
      position: relative
      height: 606px
      width: 100%
      bottom: 0
    li
      position: absolute
      bottom: 0
      &.left
        left: 50%
        margin-left: -495px
      &.center
        left: 50%
        z-index: 10
        margin-left: -191.5px
      &.right
        left: 50%
        margin-left: 115px
      img
        display: block
  .slide_etc
    display: none

.s2 .m_content-instant
  .f_header-type1
    margin-top: 70px
  .f_container
    height: 490px
    ul
      height: 490px
      left: 50%
      width: 1346px
      margin-left: -673px
    li
      &.left
        margin-left: -370px
      &.center
        margin-left: -147px
      &.right
        margin-left: 72px
      img
        width: 294px

.s1 .m_content-instant
  .f_header-type1
    margin-top: 22px
    .tit
      width: 214px
      margin: 0 auto
    .desc
      width: auto
      padding: 0 16px
      margin: 10px auto 0
      br
        display: none
  .f_container
    height: auto
    margin-top: 60px
    .instant-con
      overflow: hidden
      height: 290px
      margin-top: 54px
    ul
      width: 9999px
      height: auto
      padding: 0
      text-align: center
      font-size: 0
    li
      float: left
      position: static
      left: auto
      width: 280px !important
      margin-left: 0
      opacity: 0.4
      filter: alpha(opacity = 40)
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"
      transition: opacity 1s
      &.show
        opacity: 1
        filter: alpha(opacity = 100)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
        transition: opacity 1s
      figure
        padding: 0 12px
      img
        width: 100%
  .slide_etc
    display: block

.m_content-sound
  article
    left: 50%
    width: 1440px
    margin-left: -720px
  .f_header-type1
    .tit, .desc
      text-align: left
  .f_container
    overflow: visible
    width: 100%
    height: inherit
    figure
      height: auto
  .sound-top-arti
    position: relative
    height: 890px
    figure
      left: 0
      bottom: 0
      width: 775px
      margin-left: 0
    .f_header-type1
      position: absolute
      top: 302px
      left: 830px
      .desc
        width: 300px
        margin-top: 20px
  .sound-btm-arti
    position: relative
    height: 957px
    .f_header-type1
      left: 240px
      top: 406px
      .desc
        width: 370px
        margin-top: 30px
    figure
      left: auto
      right: 0
      bottom: 0
      z-index: 10
      width: 913px
      margin-left: 0
    .wave
      position: relative
      left: 395px
      top: -200px
      width: 1304px
      height: 1304px
      span
        display: block
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        -webkit-transform: translate(-50%, -50%)
        -ms-transform: translate(-50%, -50%)
        width: 150px
        height: 150px
        border-radius: 100%
        border: 1px solid #e3e3e3
        opacity: 0
        filter: alpha(opacity = 0)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
      &.show span
        &:nth-child(1)
          animation: waveAni 3.4s .0s linear
        &:nth-child(2)
          animation: waveAni 3.4s .6s linear
        &:nth-child(3)
          animation: waveAni 3.4s 1.2s linear
        &:nth-child(4)
          animation: waveAni 3.4s 1.8s linear

@-webkit-keyframes waveAni
  0%
    opacity: 1
    width: 150px
    height: 150px

  20%
    opacity: 0.9
    width: 389px
    height: 389px

  40%
    opacity: 0.8
    width: 655px
    height: 655px

  60%
    opacity: 0.5
    width: 976px
    height: 976px

  80%
    opacity: 0.2
    width: 1304px
    height: 1304px

  100%
    opacity: 0
    width: 1304px
    height: 1304px


@keyframes waveAni
  0%
    opacity: 1
    width: 150px
    height: 150px

  20%
    opacity: 0.9
    width: 389px
    height: 389px

  40%
    opacity: 0.8
    width: 655px
    height: 655px

  60%
    opacity: 0.5
    width: 976px
    height: 976px

  80%
    opacity: 0.2
    width: 1304px
    height: 1304px

  100%
    opacity: 0
    width: 1304px
    height: 1304px


.s2 .m_content-sound
  article
    width: 1346px
    margin-left: -673px
  figure img
    width: 100%
    height: auto
  .sound-top-arti
    height: 710px
    .f_header-type1
      top: 190px
      left: 730px
  .sound-btm-arti .f_header-type1 .desc
    margin-top: 11px
  .sound-top-arti figure
    width: 692px
  .sound-btm-arti
    height: 670px
    .f_header-type1
      top: 245px
      left: 315px
    figure
      width: 800px
    .wave
      left: 260px
      top: -385px

.s12 .s2 .m_content-sound .sound-btm-arti .notebook
  display: none

.s1 .m_content-sound
  height: 1377px
  article
    position: relative
    left: auto
    height: auto
    width: 100%
    margin-left: 0
  .f_header-type1
    position: relative
    left: auto
    top: auto
    .tit
      text-align: center
    .desc
      text-align: center
      width: auto
      margin: 15px auto 0
  .f_container figure
    position: absolute
    left: 50%
    width: 1534px
    height: 100%
    margin-left: -767px
    img
      width: auto
      height: 100%
  .sound-top-arti
    height: auto
    .f_header-type1
      padding-top: 20px
      .tit
        max-width: 320px
        margin: 0 auto
        span
          display: block
        br
          display: none
    .f_container
      position: relative
      figure
        position: relative
      margin-top: 50px
      height: 458px
  .sound-btm-arti
    top: -80px
    height: 740px
    .wave
      display: none
    .f_header-type1
      margin-bottom: 30px
    .f_container
      top: auto
      bottom: 0
      height: 641px
    .notebook
      display: none

.m_content-usb
  height: 953px
  background: #000
  .f_header-type1
    color: #fff
    .tit
      margin: 62px 0 25px
    .desc
      width: 930px
      margin: 0 auto
  .f_container
    width: 1440px
    left: 50%
    margin-left: -720px
    figure.cable
      left: auto
      right: -127px
      bottom: 0
      width: auto
      height: auto
      margin-left: 0

.s2 .m_content-usb
  height: 879px
  .f_header-type1 .desc
    max-width: 700px
  .f_container
    width: 1346px
    margin-left: -673px
    figure.cable
      display: none

.s1 .m_content-usb
  height: 524px
  .f_header-type1
    position: relative
    margin-bottom: 50px
    .tit
      width: 237px
      margin: 25px auto 10px
    .desc
      width: auto
      padding: 0 16px
  .f_container
    figure
      position: absolute
      left: 50%
      width: 1534px
      height: 100%
      margin-left: -767px
      img
        width: auto
        height: 100%
    .cable
      display: none

.m_content-choose
  .f_header-type1
    position: relative
    margin-top: 80px
    text-align: center
    .desc
      width: 946px
      margin: 17px auto 35px
    .see-more-btn
      margin: 55px 0 75px
  .f_container
    position: relative
    top: auto
    bottom: 0
    width: 100%
    height: auto
  .acc-list
    &:after, ul:after
      display: block
      clear: both
      content: ''
    width: 100%
    li
      float: left
      img
        float: left
      figure, img
        width: 100%
      figure
        height: auto
      overflow: hidden
      width: 50%
      height: auto
      background: #e7e7e7
      &.acc-right
        background: #f4f4f4
  .slide_etc
    display: none

.s2 .m_content-choose .f_header-type1
  margin-top: 64px
  .desc
    max-width: 768px
    margin: 20px auto 48px
  .see-more-btn
    margin: 35px 0 65px

.s1 .m_content-choose
  .f_header-type1
    margin-top: 23px
    .tit
      width: 320px
      margin: 0 auto
    .desc
      width: auto
      padding: 0 16px
      margin: 15px auto 25px
    .see-more-btn
      margin: 37px 0
    .small
      width: 300px
      margin: 0 auto
      line-height: 24px
  .f_container
    padding-bottom: 70px
  .slide_etc
    display: block
    position: absolute
    bottom: 25px
    width: 100%
  .acc-list
    .acc-right
      display: none
    li, .acc-left
      width: 100%
    li img, .acc-left:hover img, .acc-right li:hover img
      transform: none
      transition: none

.m_content-samsung-pay
  .f_header-type1
    position: relative
    margin-top: 85px
    .tit br
      display: none
    .desc
      width: 887px
      margin: 20px auto 35px
  .f_container
    position: relative
    margin-top: 77px
    height: auto
    figure
      display: block
      position: static
      left: auto
      width: 100%
      height: auto
      margin-left: 0
      img
        display: block
        width: 100%

.s12 .m_content-samsung-pay
  .f_header-type1, .f_container
    position: relative

.s2 .m_content-samsung-pay
  height: auto
  .f_header-type1
    margin: 62px 0 65px
    .tit br
      display: block
    .desc
      margin: 25px auto 45px
  .f_container
    margin-top: 56px

.s1 .m_content-samsung-pay
  height: auto
  .f_header-type1
    margin: 25px 0 32px
    .tit
      max-width: 312px
      margin: 0 auto
      br
        display: block
    .desc
      width: auto
      max-width: 323px
      margin: 8px auto 25px
      br
        display: none
  .f_container
    height: auto
    margin-top: 0