@font-face
  font-family: "SamsungOne"
  src: url("fonts/samsungonecyrillic-400.woff2") format("woff2"), url("fonts/samsungonecyrillic-400.woff") format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: "SamsungOne"
  src: url("fonts/samsungonecyrillic-700.woff2") format("woff2"), url("fonts/samsungonecyrillic-700.woff") format("woff")
  font-weight: bold
  font-style: normal