@font-face {
font-family:"SamsungOne";
src:url('../font/samsungsharpsans-bold_v2.eot');
src:url('../font/samsungsharpsans-bold_v2.eot?#iefix') format('embedded-opentype'),
url('../font/samsungsharpsans-bold_v2.woff') format('woff'),
url('../font/samsungsharpsans-bold_v2.svg#SamsungSharpSans-Bold') format('svg');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family:"SamsungOne";
src:url('../font/samsungsharpsans-medium_v2.eot');
src:url('../font/samsungsharpsans-medium_v2.eot?#iefix') format('embedded-opentype'),
url('../font/samsungsharpsans-medium_v2.woff') format('woff'),
url('../font/samsungsharpsans-medium_v2.svg#SamsungSharpSans-Medium') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "SamsungOne";
src: url('../font/samsungone-400.eot');
src: url('../font/samsungone-400.eot?#iefix') format('embedded-opentype'), 
url('../font/samsungone-400.woff') format('woff'),
url('../font/samsungone-400.ttf') format('truetype');
font-style: normal;
font-weight: normal;
text-rendering: optimizeLegibility;
}