
<div class="section pr-g-product-similar" id="compare"><!--googleoff: all-->


<section class="product-compare js_pc_markup" style="display: block;">
	
	<div class="product-compare__headline">
		<h2 class="product-compare__headline-title">Cхожі продукти</h2>
	</div>
	
	
	<div class="product-card__wrap product-card__wrap-trisection  ">
		<div class="product-card__wrap-inner s-slick js-product-compare-carousel cardoneclass slick-initialized slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow slick-disabled" aria-label="Далі" role="button" aria-disabled="true" style="display: inline-block;">Далі</button><div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1485px; transform: translate3d(0px, 0px, 0px);" role="listbox"><div class="product-card slick-slide slick-current slick-active" id="cardOneChange_1" data-num="1" data-omni="SM-A320F/DS|SM-A320FZIDSEK" data-slick-index="0" aria-hidden="false" style="width: 297px;" tabindex="-1" role="option" aria-describedby="slick-slide00">
	<p class="product-card__status"></p>
	<div class="product-card__img-option-wrap">
		<div class="product-card__img" data-cardcheck="cardOne" style="height: 244px;">
			<a href="http://www.samsung.com/ua/smartphones/galaxy-a3-2017-a320f-ds/SM-A320FZIDSEK/" class="product-card__img-link" tabindex="0">
				
					<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/83950A88-170F-4A45-A616-06D396D0BF7F---0422F4CF-B12C-407D-BB94-DC3900D1DC80" alt="Front Martian Pink">
				
			</a>
		</div>
		
			
				
					
						<div class="product-card__js-picker" style="height: 63px;"> 
						<ul role="listbox" class="product-card__colorpicker">
							
								
									<li role="option">
									<a href="javascript:;" class="colorpicker-color colorpicker-color-active" data-omni="SM-A320F/DS|SM-A320FZIDSEK" title="martian pink" style="background-color:#dd9b8f;" tabindex="0">martian pink</a>
									<input type="hidden" class="optionvalueCode" value="85" tabindex="0">
									<input type="hidden" class="optionModelCode" value="SM-A320FZIDSEK" tabindex="0">
									<input type="hidden" class="optionfamilyCode" value="597" tabindex="0">
									<input type="hidden" class="optionGalleryCode" value="#dd9b8f" tabindex="0">
									</li>
								
								
							
						
							
								
								
									<li role="option">
									<a href="javascript:;" class="colorpicker-color" data-omni="SM-A320F/DS|SM-A320FZKDSEK" style="background-color:#000000;" tabindex="0">black</a>
									<input type="hidden" class="optionvalueCode" value="1" tabindex="0">
									<input type="hidden" class="optionModelCode" value="SM-A320FZKDSEK" tabindex="0">
									<input type="hidden" class="optionfamilyCode" value="597" tabindex="0">
									<input type="hidden" class="optionGalleryCode" value="#000000" tabindex="0">
									</li>
								
							
						
							
								
								
									<li role="option">
									<a href="javascript:;" class="colorpicker-color" data-omni="SM-A320F/DS|SM-A320FZBDSEK" style="background-color:#3355e7;" tabindex="0">blue</a>
									<input type="hidden" class="optionvalueCode" value="26" tabindex="0">
									<input type="hidden" class="optionModelCode" value="SM-A320FZBDSEK" tabindex="0">
									<input type="hidden" class="optionfamilyCode" value="597" tabindex="0">
									<input type="hidden" class="optionGalleryCode" value="#3355e7" tabindex="0">
									</li>
								
							
						
							
								
								
									<li role="option">
									<a href="javascript:;" class="colorpicker-color" data-omni="SM-A320F/DS|SM-A320FZDDSEK" style="background-color:#dab9a8;" tabindex="0">gold</a>
									<input type="hidden" class="optionvalueCode" value="82" tabindex="0">
									<input type="hidden" class="optionModelCode" value="SM-A320FZDDSEK" tabindex="0">
									<input type="hidden" class="optionfamilyCode" value="597" tabindex="0">
									<input type="hidden" class="optionGalleryCode" value="#dab9a8" tabindex="0">
									</li>
								
							
						</ul>
						</div>

	</div>
	<div class="product-card__prd-info" style="height: 60px;">
		<a id="product_displayName_597_cardOne" href="http://www.samsung.com/ua/smartphones/galaxy-a3-2017-a320f-ds/SM-A320FZIDSEK/" tabindex="0">
			<p id="product_name_597_cardOne" class="product-card__name">Galaxy A3 (2017)</p>

		</a>
			
	</div>
	<ul class="product-card__feature" style="height: 300px;">
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Розмір (Основний дисплей)">
				<span class="product-card__feature-title-inner">
				Розмір (Основний дисплей)</span></span>
				<strong class="product-card__feature-value">
					<span class="value-txt value-txt--type1" title="4.7&quot; (120.4мм)">4.7" (120.4мм)</span>
				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Основна камера - роздільна здатність">
				<span class="product-card__feature-title-inner">
				Основна камера - роздільна здатність</span></span>
				<strong class="product-card__feature-value">
					<span class="value-txt value-txt--type1" title="CMOS 13.0 Мп">CMOS 13.0 Мп</span>
				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Вага (г)">
				<span class="product-card__feature-title-inner">
				Вага (г)</span></span>
				<strong class="product-card__feature-value">
					<span class="value-txt value-txt--type1" title="138">138</span>
				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Ємність акумулятора (мА-год)">
				<span class="product-card__feature-title-inner">
				Ємність акумулятора (мА-год)</span></span>
				<strong class="product-card__feature-value">
					<span class="value-txt value-txt--type1" title="2350">2350</span>
				</strong>
			</li>

		</ul>	
		<div class="product-card__btn-wrap">
			<a id="product_See_597_cardOne" href="http://www.samsung.com/ua/smartphones/galaxy-a3-2017-a320f-ds/SM-A320FZIDSEK/" class="s-btn-encased" tabindex="0">Докладніше</a>
		</div>
		<input type="hidden" id="family_pageUrl_597" value="/ua/smartphones/galaxy-a3-2017-a320f-ds" tabindex="0">
	</div><div class="product-card slick-slide" id="cardOneChange_2" data-num="2" data-omni="SM-A520F/DS|SM-A520FZBDSEK" data-slick-index="1" aria-hidden="true" style="width: 297px;" tabindex="-1" role="option" aria-describedby="slick-slide01">
	<p class="product-card__status"></p>
	<div class="product-card__img-option-wrap">
		<div class="product-card__img" data-cardcheck="cardOne" style="height: 244px;">
			<a href="http://www.samsung.com/ua/smartphones/galaxy-a5-2017-a520f-ds/SM-A520FZBDSEK/" class="product-card__img-link" tabindex="-1">
				
					<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/24616BA4-2A26-43A3-8A4E-B375B2F4253D---C338EE9A-91BA-4FE6-8649-D3277BA4B515" alt="Вид Спереду Синій">
				
			</a>
		</div>
		
			
				
					
						<div class="product-card__js-picker" style="height: 63px;"> 
						<ul role="listbox" class="product-card__colorpicker">
							
								
									<li role="option">
									<a href="javascript:;" class="colorpicker-color colorpicker-color-active" data-omni="SM-A520F/DS|SM-A520FZBDSEK" title="blue" style="background-color:#3355e7;" tabindex="-1">blue</a>
									<input type="hidden" class="optionvalueCode" value="26" tabindex="-1">
									<input type="hidden" class="optionModelCode" value="SM-A520FZBDSEK" tabindex="-1">
									<input type="hidden" class="optionfamilyCode" value="596" tabindex="-1">
									<input type="hidden" class="optionGalleryCode" value="#3355e7" tabindex="-1">
									</li>
								
								
							
						
							
								
								
									<li role="option">
									<a href="javascript:;" class="colorpicker-color" data-omni="SM-A520F/DS|SM-A520FZKDSEK" style="background-color:#000000;" tabindex="-1">black</a>
									<input type="hidden" class="optionvalueCode" value="1" tabindex="-1">
									<input type="hidden" class="optionModelCode" value="SM-A520FZKDSEK" tabindex="-1">
									<input type="hidden" class="optionfamilyCode" value="596" tabindex="-1">
									<input type="hidden" class="optionGalleryCode" value="#000000" tabindex="-1">
									</li>
								
							
						
							
								
								
									<li role="option">
									<a href="javascript:;" class="colorpicker-color" data-omni="SM-A520F/DS|SM-A520FZDDSEK" style="background-color:#dab9a8;" tabindex="-1">gold</a>
									<input type="hidden" class="optionvalueCode" value="82" tabindex="-1">
									<input type="hidden" class="optionModelCode" value="SM-A520FZDDSEK" tabindex="-1">
									<input type="hidden" class="optionfamilyCode" value="596" tabindex="-1">
									<input type="hidden" class="optionGalleryCode" value="#dab9a8" tabindex="-1">
									</li>
								
							
						
							
								
								
									<li role="option">
									<a href="javascript:;" class="colorpicker-color" data-omni="SM-A520F/DS|SM-A520FZIDSEK" style="background-color:#dd9b8f;" tabindex="-1">martian pink</a>
									<input type="hidden" class="optionvalueCode" value="85" tabindex="-1">
									<input type="hidden" class="optionModelCode" value="SM-A520FZIDSEK" tabindex="-1">
									<input type="hidden" class="optionfamilyCode" value="596" tabindex="-1">
									<input type="hidden" class="optionGalleryCode" value="#dd9b8f" tabindex="-1">
									</li>
								
							
						</ul>
						</div>

	</div>
	<div class="product-card__prd-info" style="height: 60px;">
		<a id="product_displayName_596_cardOne" href="http://www.samsung.com/ua/smartphones/galaxy-a5-2017-a520f-ds/SM-A520FZBDSEK/" tabindex="-1">
			<p id="product_name_596_cardOne" class="product-card__name">Galaxy A5 (2017)</p>

		</a>
			
	</div>
	<ul class="product-card__feature" style="height: 300px;">

			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Розмір (Основний дисплей)">
				<span class="product-card__feature-title-inner">
				Розмір (Основний дисплей)</span></span>
				<strong class="product-card__feature-value">
					<span class="value-txt value-txt--type1" title="5.2&quot; (132.2мм)">5.2" (132.2мм)</span>
				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Основна камера - роздільна здатність">
				<span class="product-card__feature-title-inner">
				Основна камера - роздільна здатність</span></span>
				<strong class="product-card__feature-value">
					<span class="value-txt value-txt--type1" title="CMOS 16.0 Мп">CMOS 16.0 Мп</span>
				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Вага (г)">
				<span class="product-card__feature-title-inner">
				Вага (г)</span></span>
				<strong class="product-card__feature-value">
					<span class="value-txt value-txt--type1" title="159">159</span>
				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Ємність акумулятора (мА-год)">
				<span class="product-card__feature-title-inner">
				Ємність акумулятора (мА-год)</span></span>
				<strong class="product-card__feature-value">
					<span class="value-txt value-txt--type1" title="3000">3000</span>
				</strong>
			</li>

		</ul>	
		<div class="product-card__btn-wrap">
			<a id="product_See_596_cardOne" href="http://www.samsung.com/ua/smartphones/galaxy-a5-2017-a520f-ds/SM-A520FZBDSEK/" class="s-btn-encased" tabindex="-1">Докладніше</a>
		</div>
		<input type="hidden" id="family_pageUrl_596" value="/ua/smartphones/galaxy-a5-2017-a520f-ds" tabindex="-1">
	</div><div class="product-card slick-slide" id="cardOneChange_3" data-num="3" data-omni="SM-A510F/DS|SM-A510FZKDSEK" data-slick-index="2" aria-hidden="true" style="width: 297px;" tabindex="-1" role="option" aria-describedby="slick-slide02">
	<p class="product-card__status"></p>
	<div class="product-card__img-option-wrap">
		<div class="product-card__img" data-cardcheck="cardOne" style="height: 244px;">
			<a href="http://www.samsung.com/ua/smartphones/galaxy-a5-2016-a510f/SM-A510FZKDSEK/" class="product-card__img-link" tabindex="-1">
				
					<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a5-2016-a510f-sm-a510fzkdsek-000000001-front-black-thumb-1" alt="Вид Cпереду Чорний">
				
			</a>
		</div>
		
		
			<div class="product-card__js-picker" style="height: 63px;"> 
				<ul role="listbox" class="product-card__picker">
					<li role="option">
					
					</li>		
				</ul>
			</div>
		
	</div>
	<div class="product-card__prd-info" style="height: 60px;">
		<a id="product_displayName_145_cardOne" href="http://www.samsung.com/ua/smartphones/galaxy-a5-2016-a510f/SM-A510FZKDSEK/" tabindex="-1">
			<p id="product_name_145_cardOne" class="product-card__name">Galaxy A5 (2016)</p>

		</a>
			
	</div>
	<ul class="product-card__feature" style="height: 300px;">
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="HD дисплей">
					<span class="product-card__feature-title-inner">
					HD дисплей</span></span>
				<strong class="product-card__feature-value">
					<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/feature-icon-hd-display-black" alt="HD Display">
					
				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Сканер відбитку пальців">
					<span class="product-card__feature-title-inner">
					Сканер відбитку пальців</span></span>
				<strong class="product-card__feature-value">
					
						
						
							<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a5-2016-a510f-60877187" alt="Fingerprint Sensor">
						
					
						
					
				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Multi-SIM">
					<span class="product-card__feature-title-inner">
					Multi-SIM</span></span>
				<strong class="product-card__feature-value">
					
						
						
							<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a5-2016-a510f-60877277" alt="Multi-SIM">
						
					
						
					
				</strong>
			</li>
		
			
		
		
			
		
			
		
			
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Розмір (Основний дисплей)">
				<span class="product-card__feature-title-inner">
				Розмір (Основний дисплей)</span></span>
				<strong class="product-card__feature-value">
					<span class="value-txt value-txt--type1" title="5.2&quot; (132.2мм)">5.2" (132.2мм)</span>
				</strong>
			</li>
		
		
		</ul>	
		<div class="product-card__btn-wrap">
			<a id="product_See_145_cardOne" href="http://www.samsung.com/ua/smartphones/galaxy-a5-2016-a510f/SM-A510FZKDSEK/" class="s-btn-encased" tabindex="-1">Докладніше</a>
		</div>
		<input type="hidden" id="family_pageUrl_145" value="/ua/smartphones/galaxy-a5-2016-a510f" tabindex="-1">
	</div><div class="product-card slick-slide" id="cardOneChange_4" data-num="4" data-omni="SM-A710F/DS|SM-A710FZDDSEK" data-slick-index="3" aria-hidden="true" style="width: 297px;" tabindex="-1" role="option" aria-describedby="slick-slide03">
	<p class="product-card__status"></p>
	<div class="product-card__img-option-wrap">
		<div class="product-card__img" data-cardcheck="cardOne" style="height: 244px;">
			<a href="http://www.samsung.com/ua/smartphones/galaxy-a7-2016-a710f/SM-A710FZDDSEK/" class="product-card__img-link" tabindex="-1">
				
					<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a7-2016-a710f-sm-a710fzddsek-000000001-front-gold-thumb-1" alt="Вид Cпереду Золотавий">
				
			</a>
		</div>
						<div class="product-card__js-picker" style="height: 63px;"> 
						<ul role="listbox" class="product-card__colorpicker">
							
								
									<li role="option">
									<a href="javascript:;" class="colorpicker-color colorpicker-color-active" data-omni="SM-A710F/DS|SM-A710FZDDSEK" title="GOLD" style="background-color:#e1dec4;" tabindex="-1">GOLD</a>
									<input type="hidden" class="optionvalueCode" value="88" tabindex="-1">
									<input type="hidden" class="optionModelCode" value="SM-A710FZDDSEK" tabindex="-1">
									<input type="hidden" class="optionfamilyCode" value="147" tabindex="-1">
									<input type="hidden" class="optionGalleryCode" value="#e1dec4" tabindex="-1">
									</li>
								
								
							
						
							
								
								
									<li role="option">
									<a href="javascript:;" class="colorpicker-color" data-omni="SM-A710F/DS|SM-A710FZKDSEK" style="background-color:#000000;" tabindex="-1">BLACK</a>
									<input type="hidden" class="optionvalueCode" value="1" tabindex="-1">
									<input type="hidden" class="optionModelCode" value="SM-A710FZKDSEK" tabindex="-1">
									<input type="hidden" class="optionfamilyCode" value="147" tabindex="-1">
									<input type="hidden" class="optionGalleryCode" value="#000000" tabindex="-1">
									</li>
								
							
						
							
								
								
									<li role="option">
									<a href="javascript:;" class="colorpicker-color" data-omni="SM-A710F/DS|SM-A710FEDDSEK" style="background-color:#ffc6f4;" tabindex="-1">PINK</a>
									<input type="hidden" class="optionvalueCode" value="103" tabindex="-1">
									<input type="hidden" class="optionModelCode" value="SM-A710FEDDSEK" tabindex="-1">
									<input type="hidden" class="optionfamilyCode" value="147" tabindex="-1">
									<input type="hidden" class="optionGalleryCode" value="#ffc6f4" tabindex="-1">
									</li>
								
							
						
							
								
								
									<li role="option">
									<a href="javascript:;" class="colorpicker-color" data-omni="SM-A710F/DS|SM-A710FZWDSEK" style="background-color:#ffffff;" tabindex="-1">WHITE</a>
									<input type="hidden" class="optionvalueCode" value="107" tabindex="-1">
									<input type="hidden" class="optionModelCode" value="SM-A710FZWDSEK" tabindex="-1">
									<input type="hidden" class="optionfamilyCode" value="147" tabindex="-1">
									<input type="hidden" class="optionGalleryCode" value="#ffffff" tabindex="-1">
									</li>
								
							
						</ul>
						</div>

	</div>
	<div class="product-card__prd-info" style="height: 60px;">
		<a id="product_displayName_147_cardOne" href="http://www.samsung.com/ua/smartphones/galaxy-a7-2016-a710f/SM-A710FZDDSEK/" tabindex="-1">
			<p id="product_name_147_cardOne" class="product-card__name">Galaxy A7 (2016)</p>

		</a>
			
	</div>
	<ul class="product-card__feature" style="height: 300px;">
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="HD дисплей">
					<span class="product-card__feature-title-inner">
					HD дисплей</span></span>
				<strong class="product-card__feature-value">

							<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/feature-icon-hd-display-black" alt="HD Display">

				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Сканер відбитку пальців">
					<span class="product-card__feature-title-inner">
					Сканер відбитку пальців</span></span>
				<strong class="product-card__feature-value">
					<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a7-2016-a710f-60879022" alt="Fingerprint Sensor">

				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Multi-SIM">
					<span class="product-card__feature-title-inner">
					Multi-SIM</span></span>
				<strong class="product-card__feature-value">

							<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a7-2016-a710f-60878995" alt="Multi-SIM">
				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Розмір (Основний дисплей)">
				<span class="product-card__feature-title-inner">
				Розмір (Основний дисплей)</span></span>
				<strong class="product-card__feature-value">
					<span class="value-txt value-txt--type1" title="5.5&quot; (139.3 мм)">5.5" (139.3 мм)</span>
				</strong>
			</li>
		
		
		</ul>	
		<div class="product-card__btn-wrap">
			<a id="product_See_147_cardOne" href="http://www.samsung.com/ua/smartphones/galaxy-a7-2016-a710f/SM-A710FZDDSEK/" class="s-btn-encased" tabindex="-1">Докладніше</a>
		</div>
		<input type="hidden" id="family_pageUrl_147" value="/ua/smartphones/galaxy-a7-2016-a710f" tabindex="-1">
	</div><div class="product-card slick-slide" id="cardOneChange_5" data-num="5" data-omni="SM-A700H|SM-A700HZWDSEK" data-slick-index="4" aria-hidden="true" style="width: 297px;" tabindex="-1" role="option" aria-describedby="slick-slide04">
	<p class="product-card__status"></p>
	<div class="product-card__img-option-wrap">
		<div class="product-card__img" data-cardcheck="cardOne" style="height: 244px;">
			<a href="http://www.samsung.com/ua/smartphones/galaxy-a7-a700h/SM-A700HZWDSEK/" class="product-card__img-link" tabindex="-1">
				
					<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a7-a700h-sm-a700hzwdsek-001-front-white-thumb-1" alt="Вид Спереду Білий">
				
			</a>
		</div>
		
						<div class="product-card__js-picker" style="height: 63px;"> 
						<ul role="listbox" class="product-card__colorpicker">

									<li role="option">
									<a href="javascript:;" class="colorpicker-color colorpicker-color-active" data-omni="SM-A700H|SM-A700HZWDSEK" title="White" style="background-color:#ffffff;" tabindex="-1">White</a>
									<input type="hidden" class="optionvalueCode" value="ffffff" tabindex="-1">
									<input type="hidden" class="optionModelCode" value="SM-A700HZWDSEK" tabindex="-1">
									<input type="hidden" class="optionfamilyCode" value="148" tabindex="-1">
									<input type="hidden" class="optionGalleryCode" value="#ffffff" tabindex="-1">
									</li>

									<li role="option">
									<a href="javascript:;" class="colorpicker-color" data-omni="SM-A700H|SM-A700HZWDSEK" style="background-color:#000000;" tabindex="-1">Black</a>
									<input type="hidden" class="optionvalueCode" value="000000" tabindex="-1">
									<input type="hidden" class="optionModelCode" value="SM-A700HZWDSEK" tabindex="-1">
									<input type="hidden" class="optionfamilyCode" value="148" tabindex="-1">
									<input type="hidden" class="optionGalleryCode" value="#000000" tabindex="-1">
									</li>

									<li role="option">
									<a href="javascript:;" class="colorpicker-color" data-omni="SM-A700H|SM-A700HZWDSEK" style="background-color:#e1dec4;" tabindex="-1">Gold</a>
									<input type="hidden" class="optionvalueCode" value="e1dec4" tabindex="-1">
									<input type="hidden" class="optionModelCode" value="SM-A700HZWDSEK" tabindex="-1">
									<input type="hidden" class="optionfamilyCode" value="148" tabindex="-1">
									<input type="hidden" class="optionGalleryCode" value="#e1dec4" tabindex="-1">
									</li>

						</ul>
						</div>

	</div>
	<div class="product-card__prd-info" style="height: 60px;">
		<a id="product_displayName_148_cardOne" href="http://www.samsung.com/ua/smartphones/galaxy-a7-a700h/SM-A700HZWDSEK/" tabindex="-1">
			<p id="product_name_148_cardOne" class="product-card__name">Galaxy A7</p>

		</a>
			
	</div>
	<ul class="product-card__feature" style="height: 300px;">
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="HD дисплей">
					<span class="product-card__feature-title-inner">
					HD дисплей</span></span>
				<strong class="product-card__feature-value">

							<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/feature-icon-hd-display-black" alt="HD Display">

				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Multi-SIM">
					<span class="product-card__feature-title-inner">
					Multi-SIM</span></span>
				<strong class="product-card__feature-value">

							<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a7-a700h-60877748" alt="Multi-SIM">

				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Розмір (Основний дисплей)">
				<span class="product-card__feature-title-inner">
				Розмір (Основний дисплей)</span></span>
				<strong class="product-card__feature-value">
					<span class="value-txt value-txt--type1" title="5.5&quot; (139.3 мм)">5.5" (139.3 мм)</span>
				</strong>
			</li>
		
			<li class="product-card__feature-list">
				<span class="product-card__feature-title" title="Основна камера - роздільна здатність">
				<span class="product-card__feature-title-inner">
				Основна камера - роздільна здатність</span></span>
				<strong class="product-card__feature-value">
					<span class="value-txt value-txt--type1" title="CMOS 13.0 Мп">CMOS 13.0 Мп</span>
				</strong>
			</li>
		
		
		</ul>	
		<div class="product-card__btn-wrap">
			<a id="product_See_148_cardOne" href="http://www.samsung.com/ua/smartphones/galaxy-a7-a700h/SM-A700HZWDSEK/" class="s-btn-encased" tabindex="-1">Докладніше</a>
		</div>
		<input type="hidden" id="family_pageUrl_148" value="/ua/smartphones/galaxy-a7-a700h" tabindex="-1">
	</div></div></div><button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Назад" role="button" style="display: block;" aria-disabled="false">Назад</button></div>
		

		
		<div class="product-card__wrap-inner">
			<div class="product-card js-product-card cardtwoclass" data-omni="SM-A720F/DS|SM-A720FZKDSEK">
				<p class="product-card__status"></p>
				<div class="product-card__img-option-wrap">
					<div class="product-card__img" data-cardcheck="cardTwo" style="height: 244px;">
						<a href="http://www.samsung.com/ua/smartphones/galaxy-a7-2017-a720f-ds/SM-A720FZKDSEK/" class="product-card__img-link">
							
								<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/AF1448AE-475C-4DF0-B304-5D550DFB026F---0FA60CDF-D50A-450E-9D7E-C14F16CDC8DF(1)" alt="Вид спереду Чорний">
							
						</a>
					</div>

								<div class="product-card__js-picker" style="height: 63px;"> 
								<ul role="listbox" class="product-card__colorpicker">
									
										
										<li role="option">
											<a href="javascript:;" title="black" data-omni="SM-A720F/DS|SM-A720FZKDSEK" class="colorpicker-color colorpicker-color-active" style="background-color:#000000;">black</a>
											<input type="hidden" class="optionvalueCode" value="1">
											<input type="hidden" class="optionModelCode" value="SM-A720FZKDSEK">
											<input type="hidden" class="optionfamilyCode" value="595">
											<input type="hidden" class="optionGalleryCode" value="#000000">
										</li>

										<li role="option">
											<a href="javascript:;" title="blue" data-omni="SM-A720F/DS|SM-A720FZBDSEK" class="colorpicker-color" style="background-color:#3355e7;">blue</a>
											<input type="hidden" class="optionvalueCode" value="26">
											<input type="hidden" class="optionModelCode" value="SM-A720FZBDSEK">
											<input type="hidden" class="optionfamilyCode" value="595">
											<input type="hidden" class="optionGalleryCode" value="#3355e7">
										</li>

										<li role="option">
											<a href="javascript:;" title="gold" data-omni="SM-A720F/DS|SM-A720FZDDSEK" class="colorpicker-color" style="background-color:#dab9a8;">gold</a>
											<input type="hidden" class="optionvalueCode" value="82">
											<input type="hidden" class="optionModelCode" value="SM-A720FZDDSEK">
											<input type="hidden" class="optionfamilyCode" value="595">
											<input type="hidden" class="optionGalleryCode" value="#dab9a8">
										</li>

										<li role="option">
											<a href="javascript:;" title="martian pink" data-omni="SM-A720F/DS|SM-A720FZIDSEK" class="colorpicker-color" style="background-color:#dd9b8f;">martian pink</a>
											<input type="hidden" class="optionvalueCode" value="85">
											<input type="hidden" class="optionModelCode" value="SM-A720FZIDSEK">
											<input type="hidden" class="optionfamilyCode" value="595">
											<input type="hidden" class="optionGalleryCode" value="#dd9b8f">
										</li>
										
									
								</ul>
								</div>
				</div>
				<div class="product-card__prd-info" style="height: 60px;">
					<a id="product_displayName_595_cardTwo" href="http://www.samsung.com/ua/smartphones/galaxy-a7-2017-a720f-ds/SM-A720FZKDSEK/">
						<p id="product_name_595_cardTwo" class="product-card__name">Galaxy A7 (2017)</p>
						
					</a>
						 
				</div>
				<ul class="product-card__feature" style="height: 300px;">
					
					
						<li class="product-card__feature-list">
							<span class="product-card__feature-title" title="Розмір (Основний дисплей)">
							<span class="product-card__feature-title-inner">Розмір (Основний дисплей)</span></span>
							<strong class="product-card__feature-value">
								<span class="value-txt value-txt--type1" title="5.7&quot; (144.3 мм)">5.7" (144.3 мм)</span>
							</strong>
						</li>
					
						<li class="product-card__feature-list">
							<span class="product-card__feature-title" title="Основна камера - роздільна здатність">
							<span class="product-card__feature-title-inner">Основна камера - роздільна здатність</span></span>
							<strong class="product-card__feature-value">
								<span class="value-txt value-txt--type1" title="CMOS 16.0 Мп">CMOS 16.0 Мп</span>
							</strong>
						</li>
					
						<li class="product-card__feature-list">
							<span class="product-card__feature-title" title="Вага (г)">
							<span class="product-card__feature-title-inner">Вага (г)</span></span>
							<strong class="product-card__feature-value">
								<span class="value-txt value-txt--type1" title="186">186</span>
							</strong>
						</li>
					
						<li class="product-card__feature-list">
							<span class="product-card__feature-title" title="Ємність акумулятора (мА-год)">
							<span class="product-card__feature-title-inner">Ємність акумулятора (мА-год)</span></span>
							<strong class="product-card__feature-value">
								<span class="value-txt value-txt--type1" title="3600">3600</span>
							</strong>
						</li>
					
					
				</ul>
				<div class="product-card__btn-wrap">
					<a id="product_See_595_cardTwo" href="http://www.samsung.com/ua/smartphones/galaxy-a7-2017-a720f-ds/SM-A720FZKDSEK/" class="s-btn-encased">Докладніше</a>
				</div>
			<input type="hidden" id="family_pageUrl_595" value="/ua/smartphones/galaxy-a7-2017-a720f-ds">
			</div>
		</div>
		

		
		<div class="product-card__wrap-inner s-slick js-product-compare-carousel cardthreeclass  slick-initialized slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow slick-disabled" aria-label="Далі" role="button" aria-disabled="true" style="display: inline-block;">Далі</button><div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1485px; transform: translate3d(0px, 0px, 0px);" role="listbox"><div class="product-card slick-slide slick-current slick-active" id="cardThreeChange_1" data-num="1" data-omni="SM-A700H|SM-A700HZWDSEK" data-slick-index="0" aria-hidden="false" style="width: 297px;" tabindex="-1" role="option" aria-describedby="slick-slide10">
		<p class="product-card__status"></p>
		<div class="product-card__img-option-wrap">
			<div class="product-card__img" data-cardcheck="cardThree" style="height: 244px;">
				<a href="http://www.samsung.com/ua/smartphones/galaxy-a7-a700h/SM-A700HZWDSEK/" class="product-card__img-link" tabindex="0">
					
						<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a7-a700h-sm-a700hzwdsek-001-front-white-thumb-1" alt="Вид Спереду Білий">
					
				</a>
			</div>
			
				
					
						
							<div class="product-card__js-picker" style="height: 63px;"> 
							<ul role="listbox" class="product-card__colorpicker">
								
									
										<li role="option">
										<a href="javascript:;" class="colorpicker-color colorpicker-color-active" data-omni="SM-A700H|SM-A700HZWDSEK" title="White" style="background-color:#ffffff;" tabindex="0">White</a>
										<input type="hidden" class="optionvalueCode" value="ffffff" tabindex="0">
										<input type="hidden" class="optionModelCode" value="SM-A700HZWDSEK" tabindex="0">
										<input type="hidden" class="optionfamilyCode" value="148" tabindex="0">
										<input type="hidden" class="optionGalleryCode" value="#ffffff" tabindex="0">
										</li>
									
									
								
							
								
									
									
										<li role="option">
										<a href="javascript:;" class="colorpicker-color" data-omni="SM-A700H|SM-A700HZWDSEK" title="Black" style="background-color:#000000;" tabindex="0">Black</a>
										<input type="hidden" class="optionvalueCode" value="000000" tabindex="0">
										<input type="hidden" class="optionModelCode" value="SM-A700HZWDSEK" tabindex="0">
										<input type="hidden" class="optionfamilyCode" value="148" tabindex="0">
										<input type="hidden" class="optionGalleryCode" value="#000000" tabindex="0">
										</li>
									
								
							
								
									
									
										<li role="option">
										<a href="javascript:;" class="colorpicker-color" data-omni="SM-A700H|SM-A700HZWDSEK" title="Gold" style="background-color:#e1dec4;" tabindex="0">Gold</a>
										<input type="hidden" class="optionvalueCode" value="e1dec4" tabindex="0">
										<input type="hidden" class="optionModelCode" value="SM-A700HZWDSEK" tabindex="0">
										<input type="hidden" class="optionfamilyCode" value="148" tabindex="0">
										<input type="hidden" class="optionGalleryCode" value="#e1dec4" tabindex="0">
										</li>
									
								
							</ul>
							</div>
						
						
					
				
			
			
		</div>
		<div class="product-card__prd-info" style="height: 60px;">
			<a id="product_displayName_148_cardThree" href="http://www.samsung.com/ua/smartphones/galaxy-a7-a700h/SM-A700HZWDSEK/" tabindex="0">
				<p id="product_name_148_cardThree" class="product-card__name">Galaxy A7</p>
				<!-- <sly data-sly-test="false">
					<sly data-sly-test="">
						<div class="product-card__price-wrapper">
							<p class="product-card__price"><strong></strong></p>
							<p class="product-card__promo">
								<span class="product-card__promo-text--type1">Suggested<strong>$9999</strong></span>
							</p>
						</div>
					</sly>
				</sly> -->
				
			</a>
				
		</div>
		<ul class="product-card__feature" style="height: 300px;">
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="HD дисплей">
					<span class="product-card__feature-title-inner">HD дисплей</span></span>
					<strong class="product-card__feature-value">
						
							
							
								<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/feature-icon-hd-display-black" alt="HD Display">
							
						
							
						
					</strong>
				</li>
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Multi-SIM">
					<span class="product-card__feature-title-inner">Multi-SIM</span></span>
					<strong class="product-card__feature-value">
						
							
							
								<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a7-a700h-60877748" alt="Multi-SIM">
							
						
							
						
					</strong>
				</li>
			
				
			
				
			
			
				
			
				
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Розмір (Основний дисплей)">
					<span class="product-card__feature-title-inner">Розмір (Основний дисплей)</span></span>
					<strong class="product-card__feature-value">
						<span class="value-txt value-txt--type1" title="5.5&quot; (139.3 мм)">5.5" (139.3 мм)</span>
					</strong>
				</li>
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Основна камера - роздільна здатність">
					<span class="product-card__feature-title-inner">Основна камера - роздільна здатність</span></span>
					<strong class="product-card__feature-value">
						<span class="value-txt value-txt--type1" title="CMOS 13.0 Мп">CMOS 13.0 Мп</span>
					</strong>
				</li>
			
			
		</ul>
		<div class="product-card__btn-wrap">
			<a id="product_See_148_cardThree" href="http://www.samsung.com/ua/smartphones/galaxy-a7-a700h/SM-A700HZWDSEK/" class="s-btn-encased" tabindex="0">Докладніше</a>
		</div>
		<input type="hidden" id="family_pageUrl_148" value="/ua/smartphones/galaxy-a7-a700h" tabindex="0">
	</div><div class="product-card slick-slide" id="cardThreeChange_2" data-num="2" data-omni="SM-A710F/DS|SM-A710FZDDSEK" data-slick-index="1" aria-hidden="true" style="width: 297px;" tabindex="-1" role="option" aria-describedby="slick-slide11">
		<p class="product-card__status"></p>
		<div class="product-card__img-option-wrap">
			<div class="product-card__img" data-cardcheck="cardThree" style="height: 244px;">
				<a href="http://www.samsung.com/ua/smartphones/galaxy-a7-2016-a710f/SM-A710FZDDSEK/" class="product-card__img-link" tabindex="-1">
					
						<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a7-2016-a710f-sm-a710fzddsek-000000001-front-gold-thumb-1" alt="Вид Cпереду Золотавий">
					
				</a>
			</div>

							<div class="product-card__js-picker" style="height: 63px;"> 
							<ul role="listbox" class="product-card__colorpicker">
								
									
										<li role="option">
										<a href="javascript:;" class="colorpicker-color colorpicker-color-active" data-omni="SM-A710F/DS|SM-A710FZDDSEK" title="GOLD" style="background-color:#e1dec4;" tabindex="-1">GOLD</a>
										<input type="hidden" class="optionvalueCode" value="88" tabindex="-1">
										<input type="hidden" class="optionModelCode" value="SM-A710FZDDSEK" tabindex="-1">
										<input type="hidden" class="optionfamilyCode" value="147" tabindex="-1">
										<input type="hidden" class="optionGalleryCode" value="#e1dec4" tabindex="-1">
										</li>

										<li role="option">
										<a href="javascript:;" class="colorpicker-color" data-omni="SM-A710F/DS|SM-A710FZKDSEK" title="BLACK" style="background-color:#000000;" tabindex="-1">BLACK</a>
										<input type="hidden" class="optionvalueCode" value="1" tabindex="-1">
										<input type="hidden" class="optionModelCode" value="SM-A710FZKDSEK" tabindex="-1">
										<input type="hidden" class="optionfamilyCode" value="147" tabindex="-1">
										<input type="hidden" class="optionGalleryCode" value="#000000" tabindex="-1">
										</li>

										<li role="option">
										<a href="javascript:;" class="colorpicker-color" data-omni="SM-A710F/DS|SM-A710FEDDSEK" title="PINK" style="background-color:#ffc6f4;" tabindex="-1">PINK</a>
										<input type="hidden" class="optionvalueCode" value="103" tabindex="-1">
										<input type="hidden" class="optionModelCode" value="SM-A710FEDDSEK" tabindex="-1">
										<input type="hidden" class="optionfamilyCode" value="147" tabindex="-1">
										<input type="hidden" class="optionGalleryCode" value="#ffc6f4" tabindex="-1">
										</li>

										<li role="option">
										<a href="javascript:;" class="colorpicker-color" data-omni="SM-A710F/DS|SM-A710FZWDSEK" title="WHITE" style="background-color:#ffffff;" tabindex="-1">WHITE</a>
										<input type="hidden" class="optionvalueCode" value="107" tabindex="-1">
										<input type="hidden" class="optionModelCode" value="SM-A710FZWDSEK" tabindex="-1">
										<input type="hidden" class="optionfamilyCode" value="147" tabindex="-1">
										<input type="hidden" class="optionGalleryCode" value="#ffffff" tabindex="-1">
										</li>
									
								
							</ul>
							</div>

		</div>
		<div class="product-card__prd-info" style="height: 60px;">
			<a id="product_displayName_147_cardThree" href="http://www.samsung.com/ua/smartphones/galaxy-a7-2016-a710f/SM-A710FZDDSEK/" tabindex="-1">
				<p id="product_name_147_cardThree" class="product-card__name">Galaxy A7 (2016)</p>
			</a>
				
		</div>
		<ul class="product-card__feature" style="height: 300px;">
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="HD дисплей">
					<span class="product-card__feature-title-inner">HD дисплей</span></span>
					<strong class="product-card__feature-value">
						
							
							
								<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/feature-icon-hd-display-black" alt="HD Display">

					</strong>
				</li>
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Сканер відбитку пальців">
					<span class="product-card__feature-title-inner">Сканер відбитку пальців</span></span>
					<strong class="product-card__feature-value">
						<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a7-2016-a710f-60879022" alt="Fingerprint Sensor">

					</strong>
				</li>
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Multi-SIM">
					<span class="product-card__feature-title-inner">Multi-SIM</span></span>
					<strong class="product-card__feature-value">
						<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a7-2016-a710f-60878995" alt="Multi-SIM">
					</strong>
				</li>
			
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Розмір (Основний дисплей)">
					<span class="product-card__feature-title-inner">Розмір (Основний дисплей)</span></span>
					<strong class="product-card__feature-value">
						<span class="value-txt value-txt--type1" title="5.5&quot; (139.3 мм)">5.5" (139.3 мм)</span>
					</strong>
				</li>
			
			
		</ul>
		<div class="product-card__btn-wrap">
			<a id="product_See_147_cardThree" href="http://www.samsung.com/ua/smartphones/galaxy-a7-2016-a710f/SM-A710FZDDSEK/" class="s-btn-encased" tabindex="-1">Докладніше</a>
		</div>
		<input type="hidden" id="family_pageUrl_147" value="/ua/smartphones/galaxy-a7-2016-a710f" tabindex="-1">
	</div><div class="product-card slick-slide" id="cardThreeChange_3" data-num="3" data-omni="SM-A510F/DS|SM-A510FZKDSEK" data-slick-index="2" aria-hidden="true" style="width: 297px;" tabindex="-1" role="option" aria-describedby="slick-slide12">
		<p class="product-card__status"></p>
		<div class="product-card__img-option-wrap">
			<div class="product-card__img" data-cardcheck="cardThree" style="height: 244px;">
				<a href="http://www.samsung.com/ua/smartphones/galaxy-a5-2016-a510f/SM-A510FZKDSEK/" class="product-card__img-link" tabindex="-1">
					
						<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a5-2016-a510f-sm-a510fzkdsek-000000001-front-black-thumb-1" alt="Вид Cпереду Чорний">
					
				</a>
			</div>
			
			
				<div class="product-card__js-picker" style="height: 63px;"> 
					<ul role="listbox" class="product-card__picker">
						<li role="option">
						
						</li>		
					</ul>
				</div>
			
		</div>
		<div class="product-card__prd-info" style="height: 60px;">
			<a id="product_displayName_145_cardThree" href="http://www.samsung.com/ua/smartphones/galaxy-a5-2016-a510f/SM-A510FZKDSEK/" tabindex="-1">
				<p id="product_name_145_cardThree" class="product-card__name">Galaxy A5 (2016)</p>

			</a>
				
		</div>
		<ul class="product-card__feature" style="height: 300px;">
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="HD дисплей">
					<span class="product-card__feature-title-inner">HD дисплей</span></span>
					<strong class="product-card__feature-value">

								<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/feature-icon-hd-display-black" alt="HD Display">

					</strong>
				</li>
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Сканер відбитку пальців">
					<span class="product-card__feature-title-inner">Сканер відбитку пальців</span></span>
					<strong class="product-card__feature-value">
						
						<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a5-2016-a510f-60877187" alt="Fingerprint Sensor">
					</strong>
				</li>
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Multi-SIM">
					<span class="product-card__feature-title-inner">Multi-SIM</span></span>
					<strong class="product-card__feature-value">
						<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/ua-galaxy-a5-2016-a510f-60877277" alt="Multi-SIM">

					</strong>
				</li>
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Розмір (Основний дисплей)">
					<span class="product-card__feature-title-inner">Розмір (Основний дисплей)</span></span>
					<strong class="product-card__feature-value">
						<span class="value-txt value-txt--type1" title="5.2&quot; (132.2мм)">5.2" (132.2мм)</span>
					</strong>
				</li>

		</ul>
		<div class="product-card__btn-wrap">
			<a id="product_See_145_cardThree" href="http://www.samsung.com/ua/smartphones/galaxy-a5-2016-a510f/SM-A510FZKDSEK/" class="s-btn-encased" tabindex="-1">Докладніше</a>
		</div>
		<input type="hidden" id="family_pageUrl_145" value="/ua/smartphones/galaxy-a5-2016-a510f" tabindex="-1">
	</div><div class="product-card slick-slide" id="cardThreeChange_4" data-num="4" data-omni="SM-A520F/DS|SM-A520FZBDSEK" data-slick-index="3" aria-hidden="true" style="width: 297px;" tabindex="-1" role="option" aria-describedby="slick-slide13">
		<p class="product-card__status"></p>
		<div class="product-card__img-option-wrap">
			<div class="product-card__img" data-cardcheck="cardThree" style="height: 244px;">
				<a href="http://www.samsung.com/ua/smartphones/galaxy-a5-2017-a520f-ds/SM-A520FZBDSEK/" class="product-card__img-link" tabindex="-1">
					
						<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/24616BA4-2A26-43A3-8A4E-B375B2F4253D---C338EE9A-91BA-4FE6-8649-D3277BA4B515" alt="Вид Спереду Синій">
					
				</a>
			</div>
						<div class="product-card__js-picker" style="height: 63px;"> 
							<ul role="listbox" class="product-card__colorpicker">
										<li role="option">
										<a href="javascript:;" class="colorpicker-color colorpicker-color-active" data-omni="SM-A520F/DS|SM-A520FZBDSEK" title="blue" style="background-color:#3355e7;" tabindex="-1">blue</a>
										<input type="hidden" class="optionvalueCode" value="26" tabindex="-1">
										<input type="hidden" class="optionModelCode" value="SM-A520FZBDSEK" tabindex="-1">
										<input type="hidden" class="optionfamilyCode" value="596" tabindex="-1">
										<input type="hidden" class="optionGalleryCode" value="#3355e7" tabindex="-1">
										</li>

										<li role="option">
										<a href="javascript:;" class="colorpicker-color" data-omni="SM-A520F/DS|SM-A520FZKDSEK" title="black" style="background-color:#000000;" tabindex="-1">black</a>
										<input type="hidden" class="optionvalueCode" value="1" tabindex="-1">
										<input type="hidden" class="optionModelCode" value="SM-A520FZKDSEK" tabindex="-1">
										<input type="hidden" class="optionfamilyCode" value="596" tabindex="-1">
										<input type="hidden" class="optionGalleryCode" value="#000000" tabindex="-1">
										</li>

										<li role="option">
										<a href="javascript:;" class="colorpicker-color" data-omni="SM-A520F/DS|SM-A520FZDDSEK" title="gold" style="background-color:#dab9a8;" tabindex="-1">gold</a>
										<input type="hidden" class="optionvalueCode" value="82" tabindex="-1">
										<input type="hidden" class="optionModelCode" value="SM-A520FZDDSEK" tabindex="-1">
										<input type="hidden" class="optionfamilyCode" value="596" tabindex="-1">
										<input type="hidden" class="optionGalleryCode" value="#dab9a8" tabindex="-1">
										</li>

										<li role="option">
										<a href="javascript:;" class="colorpicker-color" data-omni="SM-A520F/DS|SM-A520FZIDSEK" title="martian pink" style="background-color:#dd9b8f;" tabindex="-1">martian pink</a>
										<input type="hidden" class="optionvalueCode" value="85" tabindex="-1">
										<input type="hidden" class="optionModelCode" value="SM-A520FZIDSEK" tabindex="-1">
										<input type="hidden" class="optionfamilyCode" value="596" tabindex="-1">
										<input type="hidden" class="optionGalleryCode" value="#dd9b8f" tabindex="-1">
										</li>
									
								
							</ul>
							</div>
						
		</div>
		<div class="product-card__prd-info" style="height: 60px;">
			<a id="product_displayName_596_cardThree" href="http://www.samsung.com/ua/smartphones/galaxy-a5-2017-a520f-ds/SM-A520FZBDSEK/" tabindex="-1">
				<p id="product_name_596_cardThree" class="product-card__name">Galaxy A5 (2017)</p>
			</a>
				
		</div>
		<ul class="product-card__feature" style="height: 300px;">

			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Розмір (Основний дисплей)">
					<span class="product-card__feature-title-inner">Розмір (Основний дисплей)</span></span>
					<strong class="product-card__feature-value">
						<span class="value-txt value-txt--type1" title="5.2&quot; (132.2мм)">5.2" (132.2мм)</span>
					</strong>
				</li>
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Основна камера - роздільна здатність">
					<span class="product-card__feature-title-inner">Основна камера - роздільна здатність</span></span>
					<strong class="product-card__feature-value">
						<span class="value-txt value-txt--type1" title="CMOS 16.0 Мп">CMOS 16.0 Мп</span>
					</strong>
				</li>
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Вага (г)">
					<span class="product-card__feature-title-inner">Вага (г)</span></span>
					<strong class="product-card__feature-value">
						<span class="value-txt value-txt--type1" title="159">159</span>
					</strong>
				</li>
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Ємність акумулятора (мА-год)">
					<span class="product-card__feature-title-inner">Ємність акумулятора (мА-год)</span></span>
					<strong class="product-card__feature-value">
						<span class="value-txt value-txt--type1" title="3000">3000</span>
					</strong>
				</li>
			
			
		</ul>
		<div class="product-card__btn-wrap">
			<a id="product_See_596_cardThree" href="http://www.samsung.com/ua/smartphones/galaxy-a5-2017-a520f-ds/SM-A520FZBDSEK/" class="s-btn-encased" tabindex="-1">Докладніше</a>
		</div>
		<input type="hidden" id="family_pageUrl_596" value="/ua/smartphones/galaxy-a5-2017-a520f-ds" tabindex="-1">
	</div><div class="product-card slick-slide" id="cardThreeChange_5" data-num="5" data-omni="SM-A320F/DS|SM-A320FZIDSEK" data-slick-index="4" aria-hidden="true" style="width: 297px;" tabindex="-1" role="option" aria-describedby="slick-slide14">
		<p class="product-card__status"></p>
		<div class="product-card__img-option-wrap">
			<div class="product-card__img" data-cardcheck="cardThree" style="height: 244px;">
				<a href="http://www.samsung.com/ua/smartphones/galaxy-a3-2017-a320f-ds/SM-A320FZIDSEK/" class="product-card__img-link" tabindex="-1">
					
						<img src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/83950A88-170F-4A45-A616-06D396D0BF7F---0422F4CF-B12C-407D-BB94-DC3900D1DC80" alt="Front Martian Pink">
					
				</a>
			</div>
							<div class="product-card__js-picker" style="height: 63px;"> 
							<ul role="listbox" class="product-card__colorpicker">
								
									
										<li role="option">
										<a href="javascript:;" class="colorpicker-color colorpicker-color-active" data-omni="SM-A320F/DS|SM-A320FZIDSEK" title="martian pink" style="background-color:#dd9b8f;" tabindex="-1">martian pink</a>
										<input type="hidden" class="optionvalueCode" value="85" tabindex="-1">
										<input type="hidden" class="optionModelCode" value="SM-A320FZIDSEK" tabindex="-1">
										<input type="hidden" class="optionfamilyCode" value="597" tabindex="-1">
										<input type="hidden" class="optionGalleryCode" value="#dd9b8f" tabindex="-1">
										</li>

										<li role="option">
										<a href="javascript:;" class="colorpicker-color" data-omni="SM-A320F/DS|SM-A320FZKDSEK" title="black" style="background-color:#000000;" tabindex="-1">black</a>
										<input type="hidden" class="optionvalueCode" value="1" tabindex="-1">
										<input type="hidden" class="optionModelCode" value="SM-A320FZKDSEK" tabindex="-1">
										<input type="hidden" class="optionfamilyCode" value="597" tabindex="-1">
										<input type="hidden" class="optionGalleryCode" value="#000000" tabindex="-1">
										</li>

										<li role="option">
										<a href="javascript:;" class="colorpicker-color" data-omni="SM-A320F/DS|SM-A320FZBDSEK" title="blue" style="background-color:#3355e7;" tabindex="-1">blue</a>
										<input type="hidden" class="optionvalueCode" value="26" tabindex="-1">
										<input type="hidden" class="optionModelCode" value="SM-A320FZBDSEK" tabindex="-1">
										<input type="hidden" class="optionfamilyCode" value="597" tabindex="-1">
										<input type="hidden" class="optionGalleryCode" value="#3355e7" tabindex="-1">
										</li>

										<li role="option">
										<a href="javascript:;" class="colorpicker-color" data-omni="SM-A320F/DS|SM-A320FZDDSEK" title="gold" style="background-color:#dab9a8;" tabindex="-1">gold</a>
										<input type="hidden" class="optionvalueCode" value="82" tabindex="-1">
										<input type="hidden" class="optionModelCode" value="SM-A320FZDDSEK" tabindex="-1">
										<input type="hidden" class="optionfamilyCode" value="597" tabindex="-1">
										<input type="hidden" class="optionGalleryCode" value="#dab9a8" tabindex="-1">
										</li>

							</ul>
							</div>
		</div>
		<div class="product-card__prd-info" style="height: 60px;">
			<a id="product_displayName_597_cardThree" href="http://www.samsung.com/ua/smartphones/galaxy-a3-2017-a320f-ds/SM-A320FZIDSEK/" tabindex="-1">
				<p id="product_name_597_cardThree" class="product-card__name">Galaxy A3 (2017)</p>

			</a>
				
		</div>
		<ul class="product-card__feature" style="height: 300px;">

			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Розмір (Основний дисплей)">
					<span class="product-card__feature-title-inner">Розмір (Основний дисплей)</span></span>
					<strong class="product-card__feature-value">
						<span class="value-txt value-txt--type1" title="4.7&quot; (120.4мм)">4.7" (120.4мм)</span>
					</strong>
				</li>
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Основна камера - роздільна здатність">
					<span class="product-card__feature-title-inner">Основна камера - роздільна здатність</span></span>
					<strong class="product-card__feature-value">
						<span class="value-txt value-txt--type1" title="CMOS 13.0 Мп">CMOS 13.0 Мп</span>
					</strong>
				</li>
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Вага (г)">
					<span class="product-card__feature-title-inner">Вага (г)</span></span>
					<strong class="product-card__feature-value">
						<span class="value-txt value-txt--type1" title="138">138</span>
					</strong>
				</li>
			
				<li class="product-card__feature-list">
					<span class="product-card__feature-title" title="Ємність акумулятора (мА-год)">
					<span class="product-card__feature-title-inner">Ємність акумулятора (мА-год)</span></span>
					<strong class="product-card__feature-value">
						<span class="value-txt value-txt--type1" title="2350">2350</span>
					</strong>
				</li>
			
			
		</ul>
		<div class="product-card__btn-wrap">
			<a id="product_See_597_cardThree" href="http://www.samsung.com/ua/smartphones/galaxy-a3-2017-a320f-ds/SM-A320FZIDSEK/" class="s-btn-encased" tabindex="-1">Докладніше</a>
		</div>
		<input type="hidden" id="family_pageUrl_597" value="/ua/smartphones/galaxy-a3-2017-a320f-ds" tabindex="-1">
	</div></div></div><button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Назад" role="button" style="display: block;" aria-disabled="false">Назад</button></div>
	
</div>
</section>

