<div class="pr-g-product-disclaimer section">


	<div class="pr-g-product-disclaimer__inner">
		    <div class="pr-g-product-disclaimer__inner-wrap pr-g-product-disclaimer__inner-wrap__col1">
	    		<div class="pr-g-product-disclaimer__column">
					<p>* Ключова функція може відрізнятися від ключової характеристики</p>
					<p>** Усі зображення є лише ілюстраціями, всі аксесуари продаються окремо. Усі особливості і технічні характеристики пристрою актуальні на момент старту продажів, але в подальшому можуть змінюватися без попереднього повідомлення<br>
	*** Доступний користувачеві обсяг вбудованої пам'яті менше повної пам'яті пристрою, оскільки частина пам'яті зайнята операційною системою і додатками, що забезпечують функціонування пристрою. Реальний обсяг пам'яті користувача може залежати від оператора зв'язку і після оновлення вбудованого ПЗ<br>
	**** Мережа: підтримувані діапазони частот можуть залежати від регіону і мережевого провайдера<br>
	***** Підтримка мережевих протоколів і швидкість передачі даних можуть зменшуватися при одночасному використанні двох SIM карт</p>
				</div>
	    	</div>
	</div>

</div>