<div class="pr-g-product-summary section">

    <div class="product-summary   ">

    	<input type="hidden" name="summaryProductType" id="summaryProductType" value="P">
    	<div class="product-summary__container">
    		<div class="product-summary__row">
    			
    				<div class="product-summary__card no-border">
    					<div class="card__content-area">
    						<div class="card__icon">
    							
    							
    								<strong class="card__icon-title" title="5.7&quot; (144.3 мм)">
    									
    									
    										5.7" (144.3 мм)									
    									
    								</strong>
    							
    						</div>
    						
    						<p class="card__desc">Розмір (Основний дисплей)</p>
    					</div>
    				</div> 
    			 
    		
    			
    				<div class="product-summary__card ">
    					<div class="card__content-area">
    						<div class="card__icon">
    							
    							
    								<strong class="card__icon-title" title="CMOS 16.0 Мп">
    									
    									
    										CMOS 16.0 Мп									
    									
    								</strong>
    							
    						</div>
    						
    						<p class="card__desc">Основна камера - роздільна здатність</p>
    					</div>
    				</div> 
    			 
    		
    			 
    		
    			 
    		</div>
    		<div class="product-summary__row">
    			 
    		
    			 
    		
    			
    				<div class="product-summary__card">
    					<div class="card__content-area">
    						<div class="card__icon">
    							
    							
    								<strong class="card__icon-title" title="186">
    									<strong class="card__icon-title" title="186">
    										
    										
    											186									
    										
    									</strong>
    								</strong>
    							
    						</div> 
    						
    						<p class="card__desc">Вага (г)</p>
    					</div>
    				</div>
    			 
    		
    			
    				<div class="product-summary__card">
    					<div class="card__content-area">
    						<div class="card__icon">
    							
    							
    								<strong class="card__icon-title" title="3600">
    									<strong class="card__icon-title" title="3600">
    										
    										
    											3600									
    										
    									</strong>
    								</strong>
    							
    						</div> 
    						
    						<p class="card__desc">Ємність акумулятора (мА-год)</p>
    					</div>
    				</div>
    			 
    		</div>
    	</div>	
    </div>

</div>