<div class="section pr-g-product-support" id="support">
    <div class="product-support  ">
        <div class="product-support__faq">
            <div class="product-support__faq-block">
                <div class="product-support__faq-inner">
                    <h3 class="product-support__faq-text">Створення облікового запису Samsung account.</h3>
                    <a href="http://www.samsung.com/ua/support/skp/faq/887537" class="s-btn-text s-ico-new-window" target="_blank" title="Відкрити в новому вікні"><span class="blind">Створення облікового запису Samsung account.</span>Див. відповідь</a>
                </div>
            </div>
        
            <div class="product-support__faq-block">
                <div class="product-support__faq-inner">
                    <h3 class="product-support__faq-text">Як визначити оригінальність телефону / планшета Samsung Galaxy? Як не купити підробку?</h3>
                    <a href="http://www.samsung.com/ua/support/skp/faq/1086796" class="s-btn-text s-ico-new-window" target="_blank" title="Відкрити в новому вікні"><span class="blind">Як визначити оригінальність телефону / планшета Samsung Galaxy? Як не купити підробку?</span>Див. відповідь</a>
                </div>
            </div>
        </div>
        <div class="product-support__resource">
            <div class="product-support__resource-grid">
                
                <div class="product-support__resource-section">
                    <span class="product-support__resource-section-ico ico-download"></span>
                    <h3 class="product-support__resource-section-text">Посібник користувача та завантаження</h3>
                    <div class="product-support__resource-section-btn">
                        <a href="javascript:;" class="s-btn-encased s-white" onclick="openPopupLinkSupport(&#39;/ua/support/model/SM-A720FZKDSEK&#39;);" data-omni="go to support pdp">Показати більше</a>
                    </div>      
                </div>
                
                
                    <div class="product-support__resource-section">
                        <span class="product-support__resource-section-ico ico-livechat"></span>
                        <h3 class="product-support__resource-section-text">Інтерактивний чат</h3>
                        <div class="product-support__resource-section-btn">
                            <a href="http://livechat.support.samsung.com/Customer/ua" class="s-btn-encased s-white s-ico-new-window" target="_blank" data-omni="live chat" title="Відкрити в новому вікні">Розпочати чат</a>
                        </div>
                    </div>          
                
            </div>
            <div class="product-support__more">
                <a href="javascript:;" class="s-btn-text s-white" onclick="openPopupLinkSupport(&#39;/ua/support/model/SM-A720FZKDSEK&#39;);">Див. усі довідкові матеріали</a>
            </div>
        </div>
    </div>
</div>