<div class="product-anchor-nav-nonprice-jsWrap" style="height: 52px;">
    <nav class="product-anchor-nav-nonprice s-top-fix" role="navigation" id="anchorNonPriceSection">
        <div class="product-anchor-nav-nonprice__container">
            <div class="product-anchor-nav-nonprice__title js-active">
                <h2 class="product-anchor-nav-nonprice__title-text">Galaxy A7 (2017)</h2>
            </div>  
            
                
                <a href="javascript:;" id="anchorWhereToBuy" class="product-anchor-nav-nonprice__link js-cta-buy js-active" data-omni="where to buy" data-iacode="14010300" data-modelcode="SM-A720FZKDSEK">
                    <span>Де купити</span>
                </a>
                <span id="buynowSelect" class="product-anchor-nav-nonprice__link s-inactive js-active" data-omni="Where to Buy" style="display:none">
    	            <span>Де купити</span>
    	        </span>
            
            <ul class="product-anchor-nav-nonprice__list" role="tablist">
                <li class="product-anchor-nav-nonprice__item" role="presentation" id="anchor_595"><a role="tab" href="http://www.samsung.com/ua/smartphones/galaxy-a7-2017-a720f-ds/SM-A720FZKDSEK/#benefits" class="product-anchor-nav-nonprice__item-link" data-omni="benefits" aria-selected="true">Переваги</a></li>
            
                <li class="product-anchor-nav-nonprice__item" role="presentation" id="anchor_pr-g-product-specs-highlights"><a role="tab" href="http://www.samsung.com/ua/smartphones/galaxy-a7-2017-a720f-ds/SM-A720FZKDSEK/#specs" class="product-anchor-nav-nonprice__item-link" data-omni="specs" aria-selected="false">Характеристики</a></li>
            
                <li class="product-anchor-nav-nonprice__item" role="presentation" id="anchor_pr-g-product-reviews-highlights"><a role="tab" href="http://www.samsung.com/ua/smartphones/galaxy-a7-2017-a720f-ds/SM-A720FZKDSEK/#reviews" class="product-anchor-nav-nonprice__item-link" data-omni="reviews" aria-selected="false">Відгуки</a></li>
            
                <li class="product-anchor-nav-nonprice__item" role="presentation" id="anchor_pr-g-product-support"><a role="tab" href="http://www.samsung.com/ua/smartphones/galaxy-a7-2017-a720f-ds/SM-A720FZKDSEK/#support" class="product-anchor-nav-nonprice__item-link" data-omni="support" aria-selected="false">Підтримка</a></li>
            
                <li class="product-anchor-nav-nonprice__item" role="presentation" id="anchor_pr-g-product-similar"><a role="tab" href="http://www.samsung.com/ua/smartphones/galaxy-a7-2017-a720f-ds/SM-A720FZKDSEK/#compare" class="product-anchor-nav-nonprice__item-link" data-omni="compare" aria-selected="false">Порівняти</a></li>
            
                
            </ul>
            <div class="product-anchor-nav-nonprice__bar js-active" style="left: 473px;"></div>
        </div>
    </nav>
</div>