<div class="pr-g-recently-viewed section">
    <section class="recently-viewed  "><!-- Recently viewed products Component Variant: -->
        <div id="recentList">

            <h2 class="recently-viewed__title">НЕЩОДАВНО ПЕРЕГЛЯНУТІ</h2>
            <div class="recently-viewed__slide-wrap s-slick js-recently-viewed-carousel recently-viewed__no-price slick-initialized slick-slider">
                <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 281px; transform: translate3d(0px, 0px, 0px);" role="listbox"><div class="recently-viewed__slide slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 224.226px;" tabindex="-1" role="option" aria-describedby="slick-slide300">
                    <a href="http://www.samsung.com/ua/smartphones/galaxy-a7-2017-a720f-ds/SM-A720FZKDSEK/" data-omni="SM-A720F/DS|SM-A720FZKDSEK" tabindex="0">
                        <div class="recently-viewed__img-wrap">
                            
                                <img class="js-img-src" width="656" height="512" alt="galaxy-a7-2017-a720f-ds" data-src-pc="//images.samsung.com/is/image/samsung/AF1448AE-475C-4DF0-B304-5D550DFB026F---0FA60CDF-D50A-450E-9D7E-C14F16CDC8DF?$PG_PRD_CARD_PNG$" data-src-mobile="//images.samsung.com/is/image/samsung/AF1448AE-475C-4DF0-B304-5D550DFB026F---0FA60CDF-D50A-450E-9D7E-C14F16CDC8DF?$PG_PRD_CARD_PNG$" src="./SM-A720F_DS _ SM-A720FZKDSEK _ Samsung UA_files/AF1448AE-475C-4DF0-B304-5D550DFB026F---0FA60CDF-D50A-450E-9D7E-C14F16CDC8DF(2)">
                                <noscript>
                                    &lt;img alt="galaxy-a7-2017-a720f-ds" src="//images.samsung.com/is/image/samsung/AF1448AE-475C-4DF0-B304-5D550DFB026F---0FA60CDF-D50A-450E-9D7E-C14F16CDC8DF?$PG_PRD_CARD_PNG$"&gt;
                                </noscript>
                            
                        </div>
                        <div class="recently-viewed__text-wrap">
                            <strong class="recently-viewed__prd-name">Galaxy A7 (2017)</strong>
                            
                                    
                                  
                                
                        </div>
                    </a>
                </div></div></div>
            </div>
        </div>
    </section>
</div>