<div class="section pr-g-product-reviews-highlights" id="reviews">

    <div id="reviewsContainer">
    	<section class="review-highlights" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" style="">
    		<input type="hidden" name="nodePath" id="nodePath" value="/content/samsung/ua/smartphones/galaxy-a7-2017-a720f-ds/SM-A720FZKDSEK/jcr:content/par/pr-g-product-reviews-highlights">
    		<input type="hidden" name="productId" id="productId" value="SM-A720FZKDSEK">
    		
    		<input type="hidden" name="timeformat" id="timeformat" value="dd.MM.yyyy">
    		<input type="hidden" name="starComment" id="starComment" value="{0} із {1} зірок">
    			
    		<h2 class="review-highlights__number-revies"><span itemprop="ratingValue">3</span> Кількість відгуків</h2>
    		<div class="review-highlights__detail">
    			<div class="star-rating review-highlights__star-rating">
    				<p class="review-highlights__star-comment"><span itemprop="reviewCount">3</span> із 5 зірок</p>
    				<div class="star-rating__star">
    					<span class="icon-star-empty"></span>
    					<span class="icon-star-filled" style="width: 100%;"></span>
    				</div>
    	
    				<div class="star-rating__star">
    					<span class="icon-star-empty"></span>
    					<span class="icon-star-filled" style="width: 100%;"></span>
    				</div>
    	
    				<div class="star-rating__star">
    					<span class="icon-star-empty"></span>
    					<span class="icon-star-filled" style="width: 100%;"></span>
    				</div>
    	
    				<div class="star-rating__star">
    					<span class="icon-star-empty"></span>
    					<span class="icon-star-filled" style="width: 0%;"></span>
    				</div>
    	
    				<div class="star-rating__star">
    					<span class="icon-star-empty"></span>
    					<span class="icon-star-filled" style="width: 0%;"></span>
    				</div>
    			</div>
    			
    			<p class="review-highlights__desc">Пользуюсь телефоном три недели,не могу ответить на звонок - уже не первый раз,очень часто пишет ч...</p>
    			<p class="review-highlights__date"></p>
    		</div>
    		
    		<div class="review-highlights__detail">
    			<div class="star-rating review-highlights__star-rating">
    				<p class="review-highlights__star-comment"><span itemprop="reviewCount">3</span> із 5 зірок</p>
    				<div class="star-rating__star">
    					<span class="icon-star-empty"></span>
    					<span class="icon-star-filled" style="width: 100%;"></span>
    				</div>
    	
    				<div class="star-rating__star">
    					<span class="icon-star-empty"></span>
    					<span class="icon-star-filled" style="width: 100%;"></span>
    				</div>
    	
    				<div class="star-rating__star">
    					<span class="icon-star-empty"></span>
    					<span class="icon-star-filled" style="width: 100%;"></span>
    				</div>
    	
    				<div class="star-rating__star">
    					<span class="icon-star-empty"></span>
    					<span class="icon-star-filled" style="width: 0%;"></span>
    				</div>
    	
    				<div class="star-rating__star">
    					<span class="icon-star-empty"></span>
    					<span class="icon-star-filled" style="width: 0%;"></span>
    				</div>
    			</div>
    			
    			<p class="review-highlights__desc">Постоянные ошибки приложений, завышенная стоимость, выглядит обыденно, за эти деньги реально можн...</p>
    			<p class="review-highlights__date"></p>
    		</div>
    		
    		<a href="http://www.samsung.com/ua/smartphones/galaxy-a7-2017-a720f-ds/SM-A720FZKDSEK/#" title="Get The Details" id="go-all-reviews" class="s-btn-text">Переглянути всі відгуки</a>
    	</section>
    	<section class="review-highlights review-highlights--none" style="display: none;">
    		<div class="review-highlights__none">
    			<p class="review-highlights__desc">Ще немає відгуків.</p>
    			<div class="review-highlights__btn">
    				<a href="javascript:;" id="go-review-submit" title="Залиште відгук першим" class="s-btn-encased">Залиште відгук першим</a>
    			</div>
    		</div>
    	</section>
    </div>
</div>