<div class="pr-g-product-specs-highlights section" id="specs">
	<div class="product-specs  " id="product-specs">
		<input type="hidden" name="specsAnchorId" id="specsAnchorId" value="specs">
		<input type="hidden" name="specEmptyYn" id="specEmptyYn" value="N">
		<div class="product-specs__wrap">
			<ul class="product-specs__list ">
            
				<li>
					<span class="product-specs__spec">
						<em class="product-specs__spec-title" title="5.7&quot; (144.3 мм)">

                        		5.7" (144.3 мм)
                        	
                        </em>
					</span>
					<span class="product-specs__desc" title="Розмір (Основний дисплей)">Розмір (Основний дисплей)</span>		
				</li>
            
				<li>
					<span class="product-specs__spec">
						<em class="product-specs__spec-title" title="CMOS 16.0 Мп">
                        	
                        	
                        		CMOS 16.0 Мп
                        	
                        </em>
					</span>
					<span class="product-specs__desc" title="Основна камера - роздільна здатність">Основна камера - роздільна здатність</span>		
				</li>
            
				<li>
					<span class="product-specs__spec">
						<em class="product-specs__spec-title" title="186">
                        	
                        	
                        		186
                        	
                        </em>
					</span>
					<span class="product-specs__desc" title="Вага (г)">Вага (г)</span>		
				</li>
            
				<li>
					<span class="product-specs__spec">
						<em class="product-specs__spec-title" title="3600">
                        	
                        	
                        		3600
                        	
                        </em>
					</span>
					<span class="product-specs__desc" title="Ємність акумулятора (мА-год)">Ємність акумулятора (мА-год)</span>		
				</li>
            
				<li>
					<span class="product-specs__spec">
						<em class="product-specs__spec-title" title="До 59">
                        	
                        	
                        		До 59
                        	
                        </em>
					</span>
					<span class="product-specs__desc" title="Час роботи при відтворенні аудіо (годин)">Час роботи при відтворенні аудіо (годин)</span>		
				</li>
            
				<li>
					<span class="product-specs__spec">
						<em class="product-specs__spec-title" title="1.9 ГГц">
                        	
                        	
                        		1.9 ГГц
                        	
                        </em>
					</span>
					<span class="product-specs__desc" title="Тактова частота процесора">Тактова частота процесора</span>		
				</li>
            
            </ul>
		</div>


		<div class="product-specs__btn-wrap">
			<a href="http://www.samsung.com/ua/smartphones/galaxy-a7-2017-a720f-ds/SM-A720FZKDSEK/#" class="s-btn-text show_btn s-ico-down">Показати всі характеристики</a>
		</div>

		<div class="product-specs__highlights-wrap" style="display:none;">
			
			<ul class="product-specs__highlights-list">
                
	                <li>
	                    <em class="product-specs__highlights-title">Процесор</em>
						
	                        <ul class="product-specs__highlights-desc-list">
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Тактова частота процесора</em>
	                            	<span class="product-specs__highlights-desc">1.9 ГГц</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Тип процесора</em>
	                            	<span class="product-specs__highlights-desc">8-ядерний</span>
	                            	
	                           </li>
	                        </ul>
					</li>
                
	                <li>
	                    <em class="product-specs__highlights-title">Дисплей</em>
						
	                        <ul class="product-specs__highlights-desc-list">
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Розмір (Основний дисплей)</em>
	                            	<span class="product-specs__highlights-desc">5.7" (144.3 мм)</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Роздільна здатність (Основний дисплей)</em>
	                            	<span class="product-specs__highlights-desc">1920 x 1080 (FHD)</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Технологія (Основний дисплей)</em>
	                            	<span class="product-specs__highlights-desc">Super AMOLED</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Глибина кольору (Основний дисплей)</em>
	                            	<span class="product-specs__highlights-desc">16 мільйонів кольорів та відтінків</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Підтримка S Pen </em>
	                            	<span class="product-specs__highlights-desc">Ні</span>
	                            	
	                           </li>
	                        </ul>
					</li>
                
	                <li>
	                    <em class="product-specs__highlights-title">Камера</em>
						
	                        <ul class="product-specs__highlights-desc-list">
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Роздільна здатність запису відео</em>
	                            	<span class="product-specs__highlights-desc">FHD&nbsp;(1920 x 1080) 30 кадрів/сек</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Основна камера - роздільна здатність</em>
	                            	<span class="product-specs__highlights-desc">CMOS 16.0 Мп</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Основна камера - діафрагмове число</em>
	                            	<span class="product-specs__highlights-desc">f/1.9</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Фронтальна камера - роздільна здатність</em>
	                            	<span class="product-specs__highlights-desc">CMOS 16.0 Мп</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Фронтальна камера - діафрагмове число</em>
	                            	<span class="product-specs__highlights-desc">f/1.9</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Основна камера - спалах</em>
	                            	<span class="product-specs__highlights-desc">Так</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Основна камера - автофокус</em>
	                            	<span class="product-specs__highlights-desc">Так</span>
	                            	
	                           </li>
	                        </ul>
					</li>
                
	                <li>
	                    <em class="product-specs__highlights-title">Пам'ять</em>
						
	                        <ul class="product-specs__highlights-desc-list">
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Обсяг внутрішньої пам'яті (ГБ)</em>
	                            	<span class="product-specs__highlights-desc">32 GB</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Доступна пам'ять (ГБ)*</em>
	                            	<span class="product-specs__highlights-desc">23.0 GB</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Підтримка зовнішньої карти пам'яті</em>
	                            	<span class="product-specs__highlights-desc">MicroSD (до 256GB)</span>
	                            	
	                           </li>
	                        </ul>
					</li>
                
	                <li>
	                    <em class="product-specs__highlights-title">Мережа</em>
						
	                        <ul class="product-specs__highlights-desc-list">
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Розмір SIM-карти</em>
	                            	<span class="product-specs__highlights-desc">Nano-SIM (4FF)</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Стандарт зв'язку</em>
	                            	<span class="product-specs__highlights-desc">2G GSM, 3G WCDMA, 4G LTE FDD, 4G LTE TDD</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">2G GSM</em>
	                            	<span class="product-specs__highlights-desc">GSM850, GSM900, DCS1800, PCS1900</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">3G UMTS</em>
	                            	<span class="product-specs__highlights-desc">B1(2100), B2(1900), B4(AWS), B5(850), B8(900)</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">4G FDD LTE</em>
	                            	<span class="product-specs__highlights-desc">B1(2100), B2(1900), B3(1800), B4(AWS), B5(850), B7(2600), B8(900), B17(700), B20(800), B28(700)</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">4G TDD LTE</em>
	                            	<span class="product-specs__highlights-desc">B38(2600), B40(2300), B41(2500)</span>
	                            	
	                           </li>
	                        </ul>
					</li>
                
	                <li>
	                    <em class="product-specs__highlights-title">З'єднання</em>
						
	                        <ul class="product-specs__highlights-desc-list">
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">ANT+</em>
	                            	<span class="product-specs__highlights-desc">Так</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">USB Interface</em>
	                            	<span class="product-specs__highlights-desc">USB Type-C </span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Версія USB</em>
	                            	<span class="product-specs__highlights-desc">USB 2.0</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Технологія визначення місцеположення</em>
	                            	<span class="product-specs__highlights-desc">GPS, Glonass, Beidou</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Роз'єм гарнітури</em>
	                            	<span class="product-specs__highlights-desc">3.5 мм стерео</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">MHL</em>
	                            	<span class="product-specs__highlights-desc">Ні</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Wi-Fi</em>
	                            	<span class="product-specs__highlights-desc">802.11 a/b/g/n/ac 2.4+5GHz</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Wi-Fi Direct</em>
	                            	<span class="product-specs__highlights-desc">Так</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Версія Bluetooth</em>
	                            	<span class="product-specs__highlights-desc">Bluetooth v4.2</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">NFC</em>
	                            	<span class="product-specs__highlights-desc">Так</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Профілі Bluetooth</em>
	                            	<span class="product-specs__highlights-desc">A2DP, AVRCP, DI, HFP, HID, HOGP, HSP, MAP, OPP, PAN, PBAP</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Синхронізація з ПК</em>
	                            	<span class="product-specs__highlights-desc">Smart Switch (версія для ПК)</span>
	                            	
	                           </li>
	                        </ul>
					</li>
                
	                <li>
	                    <em class="product-specs__highlights-title">Операційна система</em>
						<span class="product-specs__highlights-desc">Android</span>
	                        
					</li>
                
	                <li>
	                    <em class="product-specs__highlights-title">Загальна інформація</em>
						
	                        <ul class="product-specs__highlights-desc-list">
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Форм-фактор</em>
	                            	<span class="product-specs__highlights-desc">Сенсорний моноблок</span>
	                            	
	                           </li>
	                        </ul>
					</li>
                
	                <li>
	                    <em class="product-specs__highlights-title">Датчики</em>
						<span class="product-specs__highlights-desc">Датчик повертання екрана, Барометр, Сканер відбитків пальців, Гіроскоп, Геомагнетичний датчик, Датчик Холла, Датчик наближення, RGB датчик світла</span>
	                        
					</li>
                
	                <li>
	                    <em class="product-specs__highlights-title">Фізичні характеристики</em>
						
	                        <ul class="product-specs__highlights-desc-list">
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Розмір (ВхШхТ), мм</em>
	                            	<span class="product-specs__highlights-desc">156.8 x 77.6 x 7.9</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Вага (г)</em>
	                            	<span class="product-specs__highlights-desc">186</span>
	                            	
	                           </li>
	                        </ul>
					</li>
                
	                <li>
	                    <em class="product-specs__highlights-title">Акумулятор</em>
						
	                        <ul class="product-specs__highlights-desc-list">
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Час роботи в інтернеті (3G) (годин)</em>
	                            	<span class="product-specs__highlights-desc">До 13</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Час роботи в інтернеті (LTE) (годин)</em>
	                            	<span class="product-specs__highlights-desc">До 16</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Час роботи в інтернеті (Wi-Fi) (годин)</em>
	                            	<span class="product-specs__highlights-desc">До 17</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Час роботи в режимі програвання відео (годин)</em>
	                            	<span class="product-specs__highlights-desc">До 20</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Ємність акумулятора (мА-год)</em>
	                            	<span class="product-specs__highlights-desc">3600</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Змінна батарея</em>
	                            	<span class="product-specs__highlights-desc">Ні</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Час роботи при відтворенні аудіо (годин)</em>
	                            	<span class="product-specs__highlights-desc">До 59</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Тривалість відтворення аудіо (години, режим "Завжди на екрані" вимкнено)</em>
	                            	<span class="product-specs__highlights-desc">До 94</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Час роботи в режимі розмови (3G WCDMA) (годин)</em>
	                            	<span class="product-specs__highlights-desc">До 23</span>
	                            	
	                           </li>
	                        </ul>
					</li>
                
	                <li>
	                    <em class="product-specs__highlights-title">Аудіо та відео </em>
						
	                        <ul class="product-specs__highlights-desc-list">
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Формати відео</em>
	                            	<span class="product-specs__highlights-desc">MP4, M4V, 3GP, 3G2, WMV, ASF, AVI, FLV, MKV, WEBM</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Роздільна здатність відео </em>
	                            	<span class="product-specs__highlights-desc">UHD 4K (3840 x 2160) 30 кадрів/сек</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Формати аудіо</em>
	                            	<span class="product-specs__highlights-desc">MP3, M4A, 3GA, AAC, OGG, OGA, WAV, WMA, AMR, AWB, FLAC, MID, MIDI, XMF, MXMF, IMY, RTTTL, RTX, OTA</span>
	                            	
	                           </li>
	                        </ul>
					</li>
                
	                <li>
	                    <em class="product-specs__highlights-title">Сервіси та додатки</em>
						
	                        <ul class="product-specs__highlights-desc-list">
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Gear Підтримка</em>
	                            	<span class="product-specs__highlights-desc">Gear Circle (Manager Support), Gear Fit, Gear Fit2, Gear1, Gear2, Gear2 Neo, Gear S, Gear S2, Gear S3, Gear IconX</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">S-Voice</em>
	                            	<span class="product-specs__highlights-desc">Так</span>
	                            	
	                           </li>
	                        
	                            <li>
	                            	<em class="product-specs__highlights-sub-title">Мобільне ТБ</em>
	                            	<span class="product-specs__highlights-desc">Ні</span>
	                            	
	                           </li>
	                        </ul>
					</li>
                
                
                
					
				
            </ul> 

			<div class="product-specs__btn-wrap">
				<a href="http://www.samsung.com/ua/smartphones/galaxy-a7-2017-a720f-ds/SM-A720FZKDSEK/#" class="s-btn-text s-ico-up hide_btn">Приховати всі характеристики</a>
			</div>
		</div>

			
			<div class="product-specs__more-wrap">
				
				
				
					<div class="product-specs__btn-wrap">
						<a href="http://www.samsung.com/sar/sarMain?site_cd=ua&amp;prd_mdl_name=SM-A720F/DS" class="s-btn-text s-ico-new-window" target="_blank" title="Відкрити в новому вікні">Відомості про SAR</a>
					</div>
				
			</div>
		
	</div>
</div>